<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div class="middle-i" v-if="!$helpers.isEmpty(agent)">
    <div class="content">
        <div class="row">
        <div class="col-sm-12">
            <div class="bl">
            <header class="bl-header">
                <h2 class="bl-title">Installed probes</h2>
            </header><!-- .bl-header -->
            <div class="bl-i">
                <p v-if="!probeConfigurations" class="text-muted">
                Please pick your first probe in the catalog.
                </p>
                <div class="row">
                <div class="col-md-6" v-for="probeConfiguration in probeConfigurations">
                    <article class="probe-item">
                    <span class="probe-title">{{ probeConfiguration.probe_label }}</span>
                    <span class="probe-subtitle">n/a</span>
                    <router-link
                        class="btn btn-sm btn-primary"
                        :to="'/environment/' + probeConfiguration.name">
                        <i class="ico-pencil"></i>
                    </router-link>
                    </article>
                </div>
                </div>
            </div>

            <footer class="bl-footer">
            </footer><!-- .bl-footer -->
            </div>
            <div class="bl">
            <header class="bl-header">
                <h2 class="bl-title">Catalog</h2>
                <div class="bl-action">
                <input
                    placeholder="Search a probe"
                    v-model="probes_filter"
                    class="form-control"
                    type="text">
                </div>
            </header><!-- .bl-header -->

            <div class="bl-i">
                <div class="row">
                <div class="col-md-6" v-for="probe in filteredProbes">
                    <article class="probe-item">
                    <span class="probe-title">
                        {{ probe.probe_name }}
                    </span>
                    <span class="probe-subtitle">
                        {{ probe.probe_description }}
                    </span>
                    <router-link 
                        :to="{ path: '/environment/' + agent.name + '/install', query: { probe: probe.name } }"
                        class="btn btn-sm btn-theme">
                        <i class="ico-download"></i>
                    </router-link>
                    </article>
                </div>
                </div>
            </div>
            </div>
        </div><!-- .col -->
        </div>
    </div><!-- .content -->
    </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      agent: 'agent',
      current_organization_name: 'current_organization_name',
      organization: 'organization',
      probes: 'probes',
      probeConfigurations: 'probeConfigurations'
    }),
    filteredProbes () {
      return this.probes.filter((probe) => {
        if (this.probes_filter) {
          if (probe.probe_name.indexOf(this.probes_filter) >= 0) {
            return probe
          }
        } else {
          return probe
        }
      })
    }
  },
  data () {
    return {
      probes_filter: ''
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_AGENT') {
        if (state.agent.agent.name) {
          this.$store.dispatch(
            'listProbeConfigurations',
            {
              parent: state.agent.agent.name,
              filters: {page_size: 100}
            })
        }
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  created () {
    this.$store.dispatch('listProbes', {
      filters: {page_size: 100}
    })
  }
}
</script>