<template>
  <div>
    <div>
      <span v-for="tag in target.tags">
        <el-tooltip
          class="item m-l-5"
          effect="dark"
          :content="tag.display_name"
          placement="top-start">
          <fa :icon="faCircle" :color="tag.color"></fa>
          </el-tooltip>
      </span>
      <a href class="m-l-5" @click.prevent="dialogVisible =! dialogVisible">
        <fa :icon="faPlus"/>
      </a>
    </div>
    <el-dialog
      title="Create or edit tag"
      :visible.sync="dialogVisible"
      width="50%">
      <div class="row">
        <div class="col-md-6">
          <el-autocomplete
            popper-class="my-autocomplete"
            class="inline-input"
            :fetch-suggestions="getTagSuggestions"
            placeholder="Tag name"
            v-model="name"
            @select="handleTagSelect"
            @input="handleTagInput">
            <template slot-scope="{ item }">
              <div class="value">
                <fa :icon="faCircle" :color="item.color"></fa>
                {{ item.display_name }}
              </div>
            </template>
          </el-autocomplete>
        </div>
        <div class="col-md-4">
          <el-autocomplete
            popper-class="my-autocomplete"
            class="inline-input"
            v-model="color"
            :fetch-suggestions="getColorSuggestions"
            placeholder="Select color">
            <div slot="suffix" class="m-10">
              <fa :icon="faCircle" :color="color"></fa>
            </div>
            <template slot-scope="{ item }">
              <div class="value">
                <fa :icon="faCircle" :color="item.value"></fa>
                {{ item.value }}
              </div>
            </template>
          </el-autocomplete>
        </div>
        <div class="col-md-2 text-right">
          <el-button type="primary" @click="addTag()">
            Add
          </el-button>
        </div>
      </div>
      <div class="m-t-20">
        <table class="table" v-if="target.tags">
          <tbody>
            <tr v-for="tag in target.tags">
              <td class="text-left" style="width: 10%;">
                <fa :icon="faCircle" :color="tag.color"></fa>
              </td>
              <td>
                {{ tag.display_name }}
              </td>
              <td class="text-right">
                <a href @click.prevent="removeTargetTag(tag.name)">
                  <fa :icon="faTimes"></fa>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible =! dialogVisible">
          OK
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Fa from 'vue-fa'
import { faPlus, faTimes, faCircle } from '@fortawesome/fontawesome-free-solid'


export default {
  props: {
    target: {
      type: Object,
      default: {}
    }
  },
  components: {
    Fa
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      tags: 'tags'
    })
  },
  data () {
    return {
      faPlus,
      faTimes,
      faCircle,
      dialogVisible: false,
      colors: [
        '#a9200e',
        '#cb4a1a',
        '#f5cc35',
        '#3c8826',
        '#296a74',
        '#3174d7',
        '#1251c8',
        '#481de2',
        '#df9996',
        '#f4d1c5',
        '#fdf2c3',
        '#c7dfc7',
        '#c3d9dc',
        '#c9ddf4',
        '#c2d3f0',
        '#d1c5f7'
      ],
      colorsChoice: [],
      name: '',
      color: '',
      allTags: []
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      let tags = []
      if (mutation.type === 'RECEIVE_TAG' || mutation.type === 'RECEIVE_CREATED_TAG') {
        if (this.target.tags) {
          this.target.tags.forEach(t => tags.push({name: t.name}))
        }
        tags.push({name: state.tag.tag.name})
        this.updateTarget(tags)
        this.name = ''
        this.color = ''
        this.tag = null
      }
      if (mutation.type === 'RECEIVE_TAGS') {
        for (const t of state.tag.tags) {
          this.allTags.push({...t, value: t.display_name})
        }
      }
    })
  },
  created () {
    if (this.current_organization_name && (this.allTags.length === 0)) {
      this.listAllTags()
    }
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  mounted () {
    this.colorsChoice = this.colors.map(c => { return { value: c } })
  },
  methods: {
    addTag () {
      if (this.tag) {
        this.$store.dispatch('getTag', {
          tag: this.tag.name
        })
      } else if (this.name && this.color) {
        this.$store.dispatch('createTag', {
          organization: this.current_organization_name,
          display_name: this.name,
          note: '',
          color: this.color
        })
      }
    },
    listAllTags () {
      this.$store.dispatch('listTags', {
        organization: this.current_organization_name
      })
    },
    updateTarget (tags) {
      this.$store.dispatch('updateTarget', {
        target: {
          name: this.target.name,
          tags: tags
        },
        update_mask: {
          paths: ['tags']
        }
      })
    },
    removeTargetTag (tagName) {
      var tags = []
      if (this.target.tags) {
        this.target.tags.forEach(function (t) {
          if (t.name !== tagName) {
            tags.push({name: t.name})
          }
        })
      }
      this.updateTarget(tags)
    },
    getColorSuggestions (queryString, cb) {
      if (queryString) {
        const colors = this.colorsChoice.filter(c => c.value.toLowerCase().startsWith(queryString.toLowerCase()))
        cb(colors)
      } else {
        cb(this.colorsChoice)
      }
    },
    getTagSuggestions (queryString, cb) {
      if (queryString) {
        const tags = this.allTags.filter(t => t.display_name.toLowerCase().startsWith(queryString.toLowerCase()))
        cb(tags)
      } else {
        cb(this.allTags)
      }
    },
    handleTagInput (input) {
      const tag = this.allTags.find(t => t.display_name.toLowerCase() === input.toLowerCase())
      if (tag) {
        this.tag = tag
        this.name = tag.display_name
        this.color = tag.color
      } else {
        this.tag = null
      }
    },
    handleTagSelect (item) {
      this.tag = item
      this.color = item.color
    }
  }
}

</script>

<style>
  .inline-input {
    width: 100%;
  }
  .my-autocomplete {
    li {
      line-height: normal;
      padding: 7px;

      .value {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .link {
        font-size: 12px;
        color: #b4b4b4;
      }
    }
  }
</style>
