<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="bl">
        <header class="bl-header">
          <h2 class="bl-title">History</h2>
          <div class="bl-action hide">
            <el-date-picker
              v-model="dateRange"
              type="daterange"
              align="right"
              start-placeholder="Start Date"
              end-placeholder="End Date">
            </el-date-picker>
          </div>
        </header>
        <div class="bl-i">
          <!-- <line-graph
            :data="chartData"
            :options="chartOptions"></line-graph> -->
        </div>
        <header class="bl-header hide">
          <h2>&nbsp;</h2>
          <div class="bl-action">
            <a
              @click="snoozeAll()"
              class="btn btn-sm btn-negatif hide">
              snooze all
            </a>
            <a
              @click="acknowledgeAll()"
              class="btn btn-sm btn-negatif">
              Acknowledge all
            </a>
          </div>
      </header>
      <div class="bl-i">
        <article
          v-for="notification in notifications"
          :class="{ open: notification.open }"
          class="blcheck-o">
          <div class="blcheck">
            <div class="blcheck-1">
              {{ notification.children.agent.display_name }}
              - {{ notification.check_target.address }}
              <div v-if="notification.check_target"
                class="m-t-5">
                <div
                v-for="tag in notification.check_target.tags"
                class="tags">
                  <el-tooltip
                    class="tag pull-left m-l-5"
                    effect="dark"
                    :content="tag.display_name"
                    placement="top-start">
                    <fa :icon="faCircle" :color="tag.color"></fa>
                  </el-tooltip>
                </div>
              </div>
              <span class="since" :title="$helpers.formatDate(notification.timestamp, 'LLLL')">
                <i class="ico-clock"></i>
                {{ notification.timestamp | fromNowDate }}
              </span>
              <div class="blcheck-1-actions">
                <a
                  @click="snooze(notification)"
                  :class="{ 'btn-negatif': notification.snooze === false, 'btn-disabled': notification.snooze === true }"
                  class="btn btn-xs hide">
                  snooze
                </a>
                <a
                  v-if="notification.acknowledge == true"
                  @click="acknowledge(notification)"
                  class="btn btn-xs btn-disabled">
                  Acknowledge
                </a>
                <a
                  v-if="notification.acknowledge == false"
                  @click="acknowledge(notification)"
                  class="btn btn-xs btn-negatif">
                  Acknowledge
                </a>
              </div>
            </div>
            <div class="blcheck-tools">
              <a href="#" class="btn btn-primary btn-xs hide"><i class="ico-cog"></i></a>
              <router-link
                class="btn btn-sm btn-primary"
                :to="'/dashboard/' + notification.check_target.name">
                <i class="ico-chart-line"></i>
              </router-link>
            </div>
            <a
              @click="toggle(notification)"
              class="btn btn-default btn-xs blcheck-inter">
              <i class="ico-down-open"></i>
            </a>
          </div>
        </article>
      </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import Fa from 'vue-fa'
import { faCircle } from '@fortawesome/fontawesome-free-solid'

export default {
  components: {
    Fa
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name'
    })
  },
  data () {
    return {
      faCircle,
      dateRange: null,
      chartData: {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#a4c7db',
            data: [0, 20, 30, 35, 45, 50, 40, 20, 10, 20]
          }
        ]
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        yAxes: [
          {
            display: true,
            ticks: {
              steps: 5,
              stepValue: 5,
              min: 0,
              beginAtZero: true
            }
          }
        ]
      },
      targets: [],
      notifications: []
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME' || mutation.type === 'RECEIVE_CREATED_TARGET') {
        if (state.organization.current_organization_name) {
          this.queryNotifications()
        }
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  created () {
    this.dateRange = [
      (moment().subtract(30, 'days')),
      (new Date())
    ]

    if (this.current_organization_name) {
      this.queryNotifications()
    }
  },
  methods: {
    queryNotifications () {
      this.axios.post(`${this.current_organization_name}/notifications/query`, JSON.stringify({
        children_mask: {paths: ['agent', 'check']}
      })).then((response) => {
        response.data.notifications.forEach((notification) => {
          this.notifications.push(notification)
          notification.open = open
          notification.check_target = {}
          this.axios.get(notification.children.check.target).then((response) => {
            notification.check_target = response.data
            this.targets[notification.children.check.target] = response.data
            this.$forceUpdate()
          })
        })
      })
    },
    snoozeAll () {
      this.notifications.forEach(function (notification) {
        notification.snooze = true
      })
      this.$forceUpdate()
    },
    acknowledgeAll () {
      this.notifications.forEach(function (notification) {
        notification.acknowledge = true
      })
      this.$forceUpdate()
    },
    snooze (notification) {
      notification.snooze = !notification.snooze
      this.$forceUpdate()
    },
    acknowledge (notification) {
      notification.acknowledge = !notification.acknowledge
      this.$forceUpdate()
    },
    toggle (notification) {
      notification.open = !notification.open
      this.$forceUpdate()
    }
  }
}

</script>
<style>

</style>
