<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div class="row">
    <div class="col-sm-6" v-for="model in stateModels">
      <div class="bl">
        <header class="bl-header">
          <h2 class="bl-title">
            <i :class="`ico-attention ${model.type}`"></i>
            Checks in {{ model.label }} state
          </h2>
        </header>
        <div class="bl-i">
          <article
             v-for="state,key in states"
             v-if="model.type.toUpperCase() == state.type"
            class="blcheck-o"
            :class="{ open: state.open }">
            <div :class="`blcheck blcheck-${model.type}`">
              <div class="blcheck-1">
                {{ state.children.agent.display_name }}
                - {{ state.children.probe_configuration.probe_label }}
                - {{ state.check_target.address }}
                <div v-if="state.check_target"
                  class="m-t-5">
                  <div
                  v-for="tag in state.check_target.tags"
                  class="tags">
                    <el-tooltip
                      class="tag pull-left m-l-5"
                      effect="dark"
                      :content="tag.display_name"
                      placement="top-start">
                      <fa :icon="faCircle" :color="tag.color"></fa>
                    </el-tooltip>
                  </div>
                </div>
                <span class="since" :title="$helpers.formatDate(state.timestamp, 'LLLL')">
                  <i class="ico-clock"></i>
                  {{ state.timestamp | fromNowDate }}
                </span>
              </div>
              <div class="blcheck-2">
                <div class="row">
                  <div class="col-md-12">
                  <dl>
                    <dd>
                      <div class="alert-off serif">
                        <pre>{{ state.reason }}</pre>
                      </div>
                    </dd>
                  </dl>
                </div>
                </div>
              </div>
              <div class="blcheck-tools">
                <router-link
                  class="btn btn-sm btn-primary"
                  :to="'/environment/' + state.probe_configuration">
                  <i class="ico-cog"></i>
                </router-link>
                <router-link
                  class="btn btn-sm btn-primary"
                  :to="'/dashboard/' + state.check_target.name + '#dashboard-graph-' + state.check.split('/').pop()">
                  <i class="ico-chart-line"></i>
                </router-link>
              </div>
              <a
                @click="state.open = !state.open"
                class="btn btn-default btn-xs blcheck-inter">
                  <i class="ico-down-open"></i>
                </a>
            </div>
          </article>
        </div>
        <footer class="bl-footer">
        </footer>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Fa from 'vue-fa'
import { faCircle } from '@fortawesome/fontawesome-free-solid'


export default {
  components: {
    Fa
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name'
    })
  },
  data () {
    return {
      faCircle,
      targets: {},
      states: [],
      stateModels: [
        {
          type: 'critical',
          label: 'Critical',
          count: 0
        },
        {
          type: 'warning',
          label: 'Warning',
          count: 0
        },
        {
          type: 'missing_data',
          label: 'Missing Data',
          count: 0
        },
        {
          type: 'error',
          label: 'Error',
          count: 0
        }
      ],
      open: {},
      check: null
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME' || mutation.type === 'RECEIVE_CREATED_TARGET') {
        if (state.organization.current_organization_name) {
          this.queryStates()
        }
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  created () {
    if (this.current_organization_name) {
      this.queryStates()
    }
  },
  methods: {
    queryStates () {
      this.axios.post(`${this.current_organization_name}/states/query`, JSON.stringify({
        children_mask: {paths: ['agent', 'check', 'probe_configuration']}
      })).then((response) => {
        response.data.states.forEach((state) => {
          state.open = true
          this.stateModels.forEach((model) => {
            if (model.type.toUpperCase() === state.type) {
              state.check_fetchable = true
              model.count++
            }
          })
          if (state.check_fetchable === true) {
            this.states.push(state)
            state.check_target = {}
            this.axios.get(state.children.check.target).then((response) => {
              state.check_target = response.data
              this.targets[state.children.check.target] = response.data
              this.$forceUpdate()
            })
          }
        })
      })
    }
  }
}

</script>
<style>

</style>
