//
// Buttons
// --------------------------------------------------

.btn {
  display:inline-block; .trans(); .mar-b(0); font-weight:@btn-font-weight; .al-c(); vertical-align:middle; touch-action:manipulation; cursor:pointer; background-image:none; border:1px solid transparent; white-space:nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
  .user-select(none);

  &, &:active,&.active {
    &:focus,&.focus { .tab-focus(); }
  }
  &:hover, &:focus, &.focus { color:@btn-default-color; text-decoration:none; }
  &:active, &.active { outline:0; background-image:none; .box-shadow(inset 0 3px 5px rgba(0,0,0,.125)); }
  &.disabled, &[disabled], fieldset[disabled] & { cursor:@cursor-disabled; .opacity(.65); .box-shadow(none); }
  a& {
    &.disabled, fieldset[disabled] & { pointer-events:none; }
  }
}

// Alternate buttons
// --------------------------------------------------
.btn-default { .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border); }
.btn-primary {
	.button-variant(@col-layout; transparent; transparent); .trans();
	&:hover { text-decoration: underline; }
}
.btn-theme { .button-variant(@btn-theme-color; @btn-theme-bg; @btn-theme-border); }
.btn-negatif {
  .button-variant(@btn-negatif-color; @btn-negatif-bg; @btn-negatif-border);
  background-color:@btn-negatif-bg !important;
}

.btn-disabled {
  color: #aaa;
  border-color: #aaa;
	background-color: #eee !important;
}

// Link buttons
// -------------------------
.btn-link {
  color:@link-color; font-weight:normal; border-radius:0;
  &, &:active, &.active, &[disabled], fieldset[disabled] & { background-color:transparent; .box-shadow(none); }
  &, &:hover, &:focus, &:active { border-color:transparent; }
  &:hover, &:focus { color:@link-hover-color; text-decoration:@link-hover-decoration; background-color:transparent; }
  &[disabled], fieldset[disabled] & {
    &:hover, &:focus { color:@btn-link-disabled-color; text-decoration:none; }
  }
}

// Button Sizes
// --------------------------------------------------
.btn-lg { .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @btn-border-radius-large); }
.btn-sm { .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small); }
.btn-xs { .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small); }


// Block button
// --------------------------------------------------
.btn-block { display:block; width:100%; }
.btn-block + .btn-block { margin-top:5px; }

input[type="submit"], input[type="reset"], input[type="button"] {
  &.btn-block { width:100%; }
}

.btn i { vertical-align:middle; .lh(16); }
