//
// Forms
// --------------------------------------------------

form { .cf(); }

fieldset { padding:0; margin:0; border:0; min-width:0; }

legend { display:block; width:100%; padding:0; margin-bottom:@line-height-computed; font-size:(@font-size-base * 1.5); line-height:inherit; color:@legend-color; border:0; border-bottom:1px solid @legend-border-color; }

label, .form-type dt { display:inline-block; max-width:100%; }

input[type="radio"], input[type="checkbox"] { 
	line-height:normal; margin:4px 0 0 0; 
	margin-top:1px \9; // IE8-9 
}

input[type="search"] { .box-sizing(border-box); -webkit-appearance:none; }
input[type="file"] { display:block; }
input[type="range"] { display:block; width:100%; }
select[multiple], select[size] { height:auto; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { .tab-focus(); }

output { display:block; padding-top:(@padding-base-vertical + 1); font-size:@font-size-base; line-height:@line-height-base; color:@input-color; }


// Common form controls
.form-control {
  display:block;
  width:100%;
  height:@input-height-base;
  padding:@padding-base-vertical @padding-base-horizontal;
  font-size:@font-size-base;
  line-height:@line-height-base;
  color:@input-color;
  background-color:@input-bg;
  background-image:none;
  border:1px solid @input-border;
  border-radius:@input-border-radius;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  .form-control-focus();
  .placeholder();

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand { border:0; background-color:transparent; }

  // Disabled and read-only inputs
  &[disabled], &[readonly], fieldset[disabled] & { background-color:@input-bg-disabled; opacity:1; }
  &[disabled], fieldset[disabled] & { cursor:@cursor-disabled; }

  textarea& { height:100px; resize:none; }
}

// Special styles for iOS temporal inputs
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    &.form-control { line-height:@input-height-base; }
    &.input-sm, .input-group-sm & { line-height:@input-height-small; }
    &.input-lg, .input-group-lg & { line-height:@input-height-large; }
  }
}

// Form groups
.form-group { margin-bottom:@form-group-margin-bottom; }

// Checkboxes and radios
.radio, .checkbox {
  position:relative; display:block; .mar-t(7);
  label { min-height:@line-height-computed; padding-left:20px; margin-bottom:0; font-weight:normal; cursor:pointer; }
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { position:absolute; margin-left:-20px; margin-top:4px \9; }
.radio + .radio, .checkbox + .checkbox { /*margin-top:-5px;*/ }

// Radios and checkboxes on same line
.radio-inline, .checkbox-inline { position:relative; display:inline-block; padding-left:20px; margin-bottom:0; vertical-align:middle; font-weight:normal; cursor:pointer; }
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline { margin-top:0; margin-left:10px; }

// Apply same disabled cursor tweak as for inputs
input[type="radio"], input[type="checkbox"] {
  &[disabled], &.disabled, fieldset[disabled] & { cursor:@cursor-disabled; }
}
// These classes are used directly on <label>s
.radio-inline, .checkbox-inline {
  &.disabled, fieldset[disabled] & { cursor:@cursor-disabled; }
}
// These classes are used on elements with <label> descendants
.radio, .checkbox {
  &.disabled, fieldset[disabled] & {
    label { cursor:@cursor-disabled; }
  }
}


// Static form control text
.form-control-static {
  padding-top:(@padding-base-vertical + 1); padding-bottom:(@padding-base-vertical + 1); margin-bottom:0; min-height:(@line-height-computed + @font-size-base);
  &.input-lg, &.input-sm { padding-left:0; padding-right:0; }
}


// Form control sizing
.input-sm { .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @input-border-radius-small); }
.form-group-sm {
  .form-control { height:@input-height-small; padding:@padding-small-vertical @padding-small-horizontal; font-size:@font-size-small; line-height:@line-height-small; border-radius:@input-border-radius-small; }
  select.form-control { height:@input-height-small; line-height:@input-height-small; }
  textarea.form-control, select[multiple].form-control { height:auto; }
  .form-control-static { height:@input-height-small; min-height:(@line-height-computed + @font-size-small); padding:(@padding-small-vertical + 1) @padding-small-horizontal; font-size:@font-size-small; line-height:@line-height-small; }
}

.input-lg { .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @input-border-radius-large); }
.form-group-lg {
  .form-control { height:@input-height-large; padding:@padding-large-vertical @padding-large-horizontal; font-size:@font-size-large; line-height:@line-height-large; border-radius:@input-border-radius-large; }
  select.form-control { height:@input-height-large; line-height:@input-height-large; }
  textarea.form-control, select[multiple].form-control { height:auto; }
  .form-control-static { height:@input-height-large; min-height:(@line-height-computed + @font-size-large); padding:(@padding-large-vertical + 1) @padding-large-horizontal; font-size:@font-size-large; line-height:@line-height-large; }
}


// Form control feedback states
.has-feedback {
  position:relative;
  .form-control { padding-right:(@input-height-base * 1.25); }
}

.form-control-feedback { position:absolute; top:0; right:0; z-index:2; display:block; width:@input-height-base; height:@input-height-base; line-height:@input-height-base; text-align:center; pointer-events:none; }
.input-lg + .form-control-feedback, .input-group-lg + .form-control-feedback, .form-group-lg .form-control + .form-control-feedback { width:@input-height-large; height:@input-height-large; line-height:@input-height-large; }
.input-sm + .form-control-feedback, .input-group-sm + .form-control-feedback, .form-group-sm .form-control + .form-control-feedback { width:@input-height-small; height:@input-height-small; line-height:@input-height-small; }

// Feedback states
.has-success { .form-control-validation(@state-success-text; @state-success-text; @state-success-bg); }
.has-warning { .form-control-validation(@state-warning-text; @state-warning-text; @state-warning-bg); }
.has-error { .form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg); }

// Reposition feedback icon if input has visible label above
.has-feedback label {
  & ~ .form-control-feedback { top:(@line-height-computed + 5); }
  &.sr-only ~ .form-control-feedback { top:0; }
}


// Help text
.help-block { display:block; margin-top:5px; margin-bottom:10px; color:lighten(@text-color, 25%); }


// Inline forms
.form-inline {

  @media (min-width:@screen-sm-min) {
    .form-group { display:inline-block; margin-bottom:0; vertical-align:middle; }
    .form-control { display:inline-block; width:auto; vertical-align:middle; }
    .form-control-static { display:inline-block; }
    .input-group {
      display:inline-table; vertical-align:middle;
      .input-group-addon, .input-group-btn, .form-control { width:auto; }
    }
    .input-group > .form-control { width:100%; }
    .control-label { margin-bottom:0; vertical-align:middle; }
    .radio, .checkbox { 
	  display:inline-block; margin-top:0; margin-bottom:0; vertical-align:middle;
      label { padding-left:0; }
    }
    .radio input[type="radio"], .checkbox input[type="checkbox"] { position:relative; margin-left:0; }
    .has-feedback .form-control-feedback { top:0; }
  }
}


// Horizontal forms
.form-horizontal {

  .radio, .checkbox, .radio-inline, .checkbox-inline { margin-top:0; margin-bottom:0; padding-top:(@padding-base-vertical + 1); }
  .radio, .checkbox { min-height:(@line-height-computed + (@padding-base-vertical + 1)); }
  .form-group { .make-row(); }

  @media (min-width:@screen-sm-min) {
    .control-label { text-align:right; margin-bottom:0; padding-top:(@padding-base-vertical + 1); }
  }

  .has-feedback .form-control-feedback { right:floor((@grid-gutter-width / 2)); }

  .form-group-lg {
    @media (min-width:@screen-sm-min) {
      .control-label { padding-top:(@padding-large-vertical + 1); font-size:@font-size-large; }
    }
  }
  .form-group-sm {
    @media (min-width:@screen-sm-min) {
      .control-label { padding-top:(@padding-small-vertical + 1); font-size:@font-size-small; }
    }
  }
}





// FORM TYPE (par défaut, à la verticale)
// ------------------------------
.form-type {
	
	color:#333;
		
	dl { .cf(); .mar(0); .mar-b(15); }
	dt { 
		.mar(0); .pad(0); .pad-b(5); .rel();
		&.require {
			&:after { content:'*'; color:@col-error; .abs(); top:-3px; left:-8px; }
		}
		
		
	}
	dd { .mar(0); .pad(0); }
	
	&.form-h { 
		dt { .fl-l(); width:30%; .al-l(); .pad-r(20); .pad-t(7); .pad-b(8); }
		dd { .fl-l(); width:70%; }
	}
	
	&.form-nodt {
		dt { display:none; }
		dd { float:none !important; width:100% !important; }
	}
	
	legend { 
		.pad(0); .mar(0); border:none; .mar-b(15); .mar-t(25); display:block; .fs(16); font-weight:600; .upper(); color:#333; .rel(); /*.pad-b(15);*/
		/*&:after { .abs(); height:2px; width:50px; left:0; bottom:0; content:''; background-color:@col-2b; }*/
	}
	
	label.input-field-error { .fs(12); .mar-t(3); color:#da0000; }
	
	// CUSTOM RADIO & CHECKBOX
	// ------------------------------
	input[type=checkbox], 
	input[type=radio] {
		display:none;
	}
	input[type=checkbox]:checked ~ label, 
	input[type=radio]:checked ~ label,
	input[type=checkbox]:not(:checked) ~ label,
	input[type=radio]:not(:checked) ~ label {
		.rel(); .pad-l(25); vertical-align:top;
	}
	input[type=radio] ~ label:before, 
	input[type=radio] ~ label:after {
		border-radius:50%;
	}
	input[type=checkbox]:checked ~ label:before,
	input[type=radio]:checked ~ label:before,
	input[type=checkbox]:not(:checked) ~ label:before,
	input[type=radio]:not(:checked) ~ label:before {
		display:block; height:18px; width:18px; border:1px solid #999; .abs(); top:0; left:0; content:""; cursor:pointer; 
	}
	input[type=checkbox]:checked ~ label:after,
	input[type=radio]:checked ~ label:after,
	input[type=checkbox]:not(:checked) ~ label:after,
	input[type=radio]:not(:checked) ~ label:after {
		display:block; height:14px; width:14px; border:2px solid white; .abs(); top:2px; left:2px; content:""; cursor:pointer; .trans();
	}
	input[type=checkbox]:checked ~ label:hover:after,
	input[type=radio]:checked ~ label:hover:after,
	input[type=checkbox]:not(:checked) ~ label:hover:after,
	input[type=radio]:not(:checked) ~ label:hover:after {
		background:#ccc;
	}
	input[type=checkbox]:not(:checked) ~ label:after, 
	input[type=radio]:not(:checked) ~ label:after {
		background:#fff;
	}
	input[type=checkbox]:checked ~ label:after,
	input[type=radio]:checked ~ label:after {
		background:@col-form-checked !important;
	}
	
}

.nodt {
	dt { display:none; }
	dd { float:none !important; width:100% !important; }
}

.dl {
	
	&-inline {
		dd { 
			.pad-t(7);
			span { .mar-r(15); display:inline-block; .mar-b(7); }
		}
	}
	
	&-full {
		dt { display:none; }
		dd { width:100% !important; }
	}
	
	&-submit { .al-r() !important; .mar-t(30) !important; }
	
	&-hr {
		height:1px; background:#ddd;
		dt, dd { display:none; }
	}
	
}

// Validate (succes : validOK, error : validKO)
// ------------------------------
input.validKO, select.validKO, textarea.validKO { border-color:@col-error !important; }
label.validKO { .fs(12); color:@col-error; }
label.validOK { .fs(12); color:@col-success; }
.validMSG { 
	padding:10px; border-radius:3px; border:1px solid #ddd; border-left-width:5px; border-left-color:@col-error; margin:10px 0; display:none; .trans();
	&:before { content:'Message d\'erreur'; .upper(); display:block; font-weight:600; color:@col-error; .fs(12); }
	label { display:block; color:#666; font-weight:normal; }
}









