/* normalize.css v3.0.3 */

html { font-family:sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; }
body { margin:0; }

// HTML5 display definitions
// ==========================================================================
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display:block; }
audio, canvas, progress, video { display:inline-block; vertical-align:baseline; }
audio:not([controls]) { display:none; height:0; }
[hidden], template { display:none; }

// Links
// ==========================================================================
a { background-color:transparent; }
a:active, a:hover { outline:0; }

// Text-level semantics
// ==========================================================================
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
dfn { font-style:italic; }
h1 { font-size:2em; margin:0.67em 0; }
mark { background:#ff0; color:#000; }
small { font-size:80%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }

// Embedded content
// ==========================================================================
img { border:0; }
svg:not(:root) { overflow:hidden; }

// Grouping content
// ==========================================================================
figure { margin:1em 40px; }
hr { box-sizing:content-box; height:0; }
pre { overflow:auto; }
code, kbd, pre, samp { font-family:monospace, monospace; font-size:1em; }

// Forms
// ==========================================================================
button, input, optgroup, select, textarea { color:inherit; font:inherit; margin:0; }
button { overflow:visible; }
button, select { text-transform:none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor:pointer; }
button[disabled], html input[disabled] { cursor:default; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
input { line-height:normal; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height:auto; }
input[type="search"] { -webkit-appearance:textfield; box-sizing:content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
fieldset { border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em; }
legend { border:0; padding:0; }
textarea { overflow:auto; }
optgroup { font-weight:bold; }

// Tables
// ==========================================================================
table { border-collapse:collapse; border-spacing:0; }
td, th { padding:0; }



//
// Scaffolding
// --------------------------------------------------

* { .box-sizing(border-box); }
*:before, *:after { .box-sizing(border-box); }

html { font-size:10px; -webkit-tap-highlight-color:rgba(0,0,0,0); }
body { font-family:@font-family-base; font-size:@font-size-base; line-height:@line-height-base; color:@text-color; background-color:@body-bg; }

input, button, select, textarea { font-family:inherit; font-size:inherit; line-height:inherit; }
a { text-decoration:none; }

figure { margin:0; }
img { vertical-align:middle; }
.img-responsive { .img-responsive(); }
.img-rounded { border-radius:@border-radius-large; }
.img-thumbnail { padding:@thumbnail-padding; line-height:@line-height-base; background-color:@thumbnail-bg; border:1px solid @thumbnail-border; border-radius:@thumbnail-border-radius; .transition(all .2s ease-in-out); .img-responsive(inline-block); }
.img-circle { border-radius:50%; }

[role="button"] { cursor:pointer; }



// Headings
// -------------------------
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { .mar(0); .pad(0); }


// Body text
// -------------------------
p { margin:0 0 20px 0; }