<template>
  <div class="panto-alert-modal">
    <el-dialog
      @open="openModal"
      :title="( creation ? 'Create alert' : `Update alert`)"
      :before-close="closeModal"
      :visible.sync="visible"
      width="60%">
      <div v-if="!$helpers.isEmpty(alertObj)">
        <fieldset>
          <div class="modal-part">
            <header class="bl-header">
              <h2 class="bl-title">Definition</h2>
            </header>
            <div class="bl-i">
              <div class="row">
                <div class="col-md-10">
                  <dl>
                    <dd>
                      <el-radio-group v-model="alertObj.type">
                        <el-tooltip
                          v-for="(type, type_key) in alertDefinitions"
                          placement="top-start"
                          :content="type.tooltip"
                          :enterable="false">
                          <el-radio
                            :label="type_key"
                            :key="type_key">
                            {{ type.label }}
                          </el-radio>
                        </el-tooltip>
                      </el-radio-group>
                    </dd>
                  </dl>
                  <dl v-if="alertObj.type === 'state_recurrence'">
                    <dd>
                        <el-input
                          placeholder="Recurrence count"
                          v-model="configuration.state_recurrence.recurrence"
                          ref="input_recurrence">
                        </el-input>
                    </dd>
                  </dl>
                  <dl v-if="alertObj.type === 'state_flap'">
                    <dd>
                        <el-input
                          placeholder="Flap count"
                          v-model="configuration.state_flap.occurrence"
                          ref="input_occcurence">
                        </el-input>
                    </dd>
                  </dl>
                  <dl v-if="alertObj.type === 'state_flap'">
                    <dd>
                        <el-input
                          placeholder="Tolerance"
                          v-model="configuration.state_flap.tolerance"
                          ref="input_tolerance">
                        </el-input>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-part">
            <header class="bl-header">
              <h2 class="bl-title">Checks</h2>
            </header>
            <div class="bl-i">
              <dl v-if="alertObj.checks && alertObj.checks.length > 0">
                <dd>
                  <div class="alert-off deletable p-10"
                       v-for="(check, index) in alertObj.checks">
                    {{ $helpers.formatCheckLabel(check, checks) }}
                    <a @click="removeCheck(index)">
                      <i class="ico-cancel"></i>
                    </a>
                  </div>
                </dd>
              </dl>
              <div class="row">
                <div class="col-md-12">
                  <dl>
                    <dd>
                      <el-select
                        id="check"
                        v-model="queryCheck"
                        class="inline-input"
                        placeholder="Search Checks"
                        @change="handleCheckSelect"
                        filterable>
                        <el-option
                          v-for="check in activeChecks"
                          v-if="!alertObj.checks || !alertObj.checks.includes(check.name)"
                          :key="check.name"
                          :value="check.name">
                            {{ `${check.children.probe.display_name} - ${check.children.target.address}` }}
                            <el-popover
                              placement="right"
                              trigger="hover"
                              v-if="getConditions(check).length > 0">
                              <fa class="icon-muted" fw size="xs" :icon="faBars" slot="reference"/>
                              <div :class="`state-item state-item-${condition.state}`" role="alert"
                                v-for="condition in getConditions(check)">
                                {{ condition.reason }}
                              </div>
                            </el-popover>
                        </el-option>
                      </el-select>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-part">
            <header class="bl-header">
              <h2 class="bl-title">Alert Channel</h2>
            </header>
            <div class="bl-i">
              <div class="row" v-if="!displayNewChannel">
                <div class="col-md-10">
                  <dl>
                    <dd>
                      <el-select
                        v-model="alertObj.channel"
                        tabindex="-1"
                        filterable
                        placeholder="Select a Channel">
                        <el-option
                          v-for="channel, channel_key in channels"
                          :key="channel_key"
                          :label="channel.display_name"
                          :value="channel.name">
                        </el-option>
                      </el-select>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-2 text-right">
                  <el-button
                    type="primary"
                    @click="displayNewChannel = !displayNewChannel"
                    icon="el-icon-plus">
                    New
                  </el-button>
                </div>
              </div>
              <div
                v-if="displayNewChannel"
                class="p-t-20 p-b-20">
                  <h3 class="bl-title m-b-10">Create new Channel</h3>
                  <div class="row">
                    <div class="col-md-10">
                      <dl>
                        <dd>
                          <el-input
                              v-model="newChannel.display_name"
                              placeholder="Channel name, e.g. Slack alert"
                              type="input">
                            </el-input>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <dl>
                        <dd>
                          <el-select
                            v-model="newChannel.typeIndex"
                            tabindex="-1"
                            @change="setChannelType()"
                            filterable
                            placeholder="Select a channel type">
                            <el-option
                              v-for="type, type_key in channelTypes"
                              :key="type_key"
                              :label="type.label"
                              :value="type_key">
                            </el-option>
                          </el-select>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div v-if="newChannel.type">
                      <div
                        v-for="param, param_key in newChannel.type.configuration"
                        class="col-md-10">
                        <dl>
                          <dd>
                            <el-input
                              v-model="newChannel.params[param.name]"
                              :placeholder="`${param.description} ${param.mandatory == true ? '(required)': ''}`"
                              type="input">
                            </el-input>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 text-right">
                      <el-button
                        type="danger"
                        @click="displayNewChannel = false">
                        Cancel
                      </el-button>
                      <el-button
                        type="primary"
                        @click="createChannel()"
                        icon="el-icon-plus">
                        Add
                      </el-button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div slot="footer" v-if="!$helpers.isEmpty(alertObj) && creation">
        <el-button type="default" @click="closeModal()">
          Cancel
        </el-button>
        <el-button type="primary" @click="createAlert()" :disabled="alertObj.type === '' || alertObj.channel === '' || alertObj.checks.length === 0">
          Create
        </el-button>
      </div>
      <div slot="footer" v-if="!$helpers.isEmpty(alertObj) && !creation">
        <el-button type="default" @click="closeModal()">
          Cancel
        </el-button>
        <el-button type="primary" @click="updateAlert()" :disabled="alertObj.type === '' || alertObj.channel === '' || alertObj.checks.length === 0">
          Save
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Fa from 'vue-fa'
import { faBars, faCog } from '@fortawesome/fontawesome-free-solid'

const validateAndParseInt = function (s) {
  if (typeof s !== 'string') {
    return undefined
  }
  return /^-?\d+$/.test(s) ? parseInt(s, 10) : undefined
}

export default {
  name: 'panto-alert-modal',
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    creation: {
      type: Boolean,
      default: true
    },
    alert: {
      type: Object
    }
  },
  components: {
    Fa
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      alertDefinitions: 'alertDefinitions',
      channelTypes: 'channelTypes',
      channels: 'channels',
      channel: 'channel',
      checks: 'checks',
      probeConfigurations: 'probeConfigurations'
    }),
    activeChecks () {
      return this.checks.filter(
        c => this.probeConfigurations.some(
          pc => pc.check === c.name
        )
      )
    }
  },
  data () {
    return {
      faBars,
      faCog,
      newChannel: {
        display_name: null,
        typeIndex: null,
        type: null,
        params: {}
      },
      displayNewChannel: false,
      channelName: null,
      channelTypeIndex: null,
      channelType: {},
      queryCheck: null,
      alertObj: undefined,
      configuration: undefined
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME') {
        this.$store.dispatch('listChannels', {
          organization: state.organization
        })
        this.$store.dispatch('listChannelTypes', {
          organization: state.organization
        })
        this.$store.dispatch('listChecks', {
          organization: state.organization.current_organization_name,
          filters: {
            children_mask: 'target,probe'
          }
        }).then(() => {
          const checks = this.checks.map(c => c.name)
          this.queryProbeConfiguration(checks)
        })
      }
      if (mutation.type === 'RECEIVE_CREATED_CHANNEL') {
        this.$store.dispatch('listChannels', {
          organization: state.organization
        }).then(() => {
          this.displayNewChannel = false
          this.alertObj.channel = this.channel.name
        })
      }
      if (mutation.type === 'SET_ALERT') {
        this.setAlert(state.alert.alert)
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  mounted () {
    if (this.current_organization_name) {
      this.$store.dispatch('listChecks', {
        organization: this.current_organization_name,
        filters: {
          children_mask: 'target,probe'
        }
      }).then(() => {
        const checks = this.checks.map(c => c.name)
        this.queryProbeConfiguration(checks)
      })
    }
  },
  methods: {
    openModal () {
      // Init data property from parent prop
      this.configuration = {
        state_recurrence: {},
        state_flap: {},
        state_change: {}
      }
      this.displayNewChannel = false
      this.newChannel = {params: {}}
      this.setAlert(this.alert)
    },
    closeModal () {
      this.$emit('update:alertModalVisible', false)
      return false
    },
    setChannelType () {
      this.newChannel.type = this.channelTypes[this.newChannel.typeIndex]
    },
    createChannel () {
      if (this.newChannel.type) {
        let channelParamError = false
        console.warn('Channel creation method is deprecated (type and configuration type)')
        let channelType = this.newChannel.type.name.split('/')[(this.newChannel.type.name.split('/').length - 1)]
        let channelParams = {}
        this.newChannel.type.configuration.forEach((config) => {
          if (config.mandatory === true && !this.newChannel.params[config.name]) {
            channelParamError = true
          }
          if (this.newChannel.params[config.name]) {
            channelParams[config.name] = this.newChannel.params[config.name]
          }
        })

        if (channelParamError === false) {
          this.$store.dispatch('createChannel', {
            organization: this.current_organization_name,
            channel: {
              channel_type: channelType,
              display_name: this.newChannel.display_name,
              configuration: JSON.stringify(channelParams)
            }
          })
        }
      }
    },
    removeCheck (index) {
      this.alertObj.checks.splice(index, 1)
    },
    setAlert (alert) {
      if (alert) {
        this.alertObj = JSON.parse(JSON.stringify(alert))
        const config = JSON.parse(alert.configuration)
        switch (alert.type) {
          case 'state_recurrence':
            this.configuration.state_recurrence = config
            break
          case 'state_flap':
            this.configuration.state_flap = config
            break
        }
      } else {
        this.alertObj = {
          checks: [],
          channel: '',
          type: '',
          configuration: {}
        }
      }
    },
    createAlert () {
      const config = this.makeConfiguration()
      if (config === undefined) {
        return
      }
      this.$store.dispatch('createAlert', {
        organization: this.current_organization_name,
        alert: { ...this.alertObj,
          configuration: JSON.stringify(config)
        }
      }).then(() => {
        this.$emit('update:alertModalVisible', false)
      })
    },
    updateAlert () {
      const config = this.makeConfiguration()
      if (config === undefined) {
        return
      }
      this.$store.dispatch('updateAlert', {
        parent: this.current_organization_name,
        alert: { ...this.alertObj,
          configuration: JSON.stringify(config)
        }
      })
      this.$emit('update:alertModalVisible', false)
    },
    makeConfiguration () {
      let config = {}
      let err = false
      switch (this.alertObj.type) {
        case 'state_recurrence':
          const recurrence = validateAndParseInt(this.configuration.state_recurrence.recurrence)
          if (recurrence === undefined) {
            this.$refs.input_recurrence.$el.classList.add('has-error')
            err = true
          } else {
            config.recurrence = recurrence
          }
          break
        case 'state_flap':
          const occurrence = validateAndParseInt(this.configuration.state_flap.occurrence)
          if (occurrence === undefined) {
            this.$refs.input_occurrence.$el.classList.add('has-error')
            err = true
          } else {
            config.occurrence = occurrence
          }
          const tolerance = validateAndParseInt(this.configuration.state_flap.tolerance)
          if (tolerance === undefined) {
            this.$refs.input_tolerance.$el.classList.add('has-error')
            err = true
          } else {
            config.tolerance = tolerance
          }
          break
      }
      return err ? undefined : config
    },
    handleCheckSelect (item) {
      this.alertObj.checks.push(item)
      this.queryCheck = null
    },
    getConditions (check) {
      if (!check || !check.configuration) {
        return []
      }
      const stateConfiguration = check.configuration
      if (!stateConfiguration || !stateConfiguration.states) {
        return []
      }
      const conditions = []
      if (Array.isArray(stateConfiguration.states)) {
        for (const state of stateConfiguration.states) {
          if (state.conditions && state.conditions.length > 0) {
            for (const cond of state.conditions) {
              conditions.push({ state: state.state, reason: cond.reason })
            }
          }
        }
      }
      return conditions
    },
    queryProbeConfiguration (checks) {
      this.$store.dispatch('QueryProbeConfiguration', {
        organization: this.current_organization_name,
        filters: {
          checks: checks
        }
      })
    }
  }
}
</script>
<style scoped>
.icon-muted {
  color: #a7a7a7;
}
.state-item {
  font-size: 12px;
  padding: 0.5em 0.4em;
  margin-bottom: 0.5rem;
}
</style>
<style>

.panto-alert-modal .el-dialog__body {
  padding: 0;
}

.el-select, .el-autocomplete {
  display: block;
}

.el-input__inner {
  border-color: #ccc;
}

.has-error input {
  border-color: #fd3c31 !important;
  background-color: #fde4e3 !important;
}

</style>
