// Copyright 2017 Pantomath SAS
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// HEADER
// ------------------------------
.header { height:@h-header; background-color:@col-header; color:#fff; -webkit-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); -moz-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); .cf(); z-index:100; .fix(); width:100%; top:0; left:0; }

/* logo */
.logo {
	color:#fff; .fs(20); margin:10px 0 0 20px; vertical-align:middle; height:30px; display:inline-block; .fl-l(); .trans(); .lh(30);
	span {
		display:inline-block; height:24px;
		svg { height:100%; }
	}
	strong { .pad-l(6); font-weight:400; .lh(30); }
	&1 { fill:#fff; }
	&2 { fill:#d0021b; }
	.no-touch &:hover { opacity:0.8; }
}

/* user */
.user {
	.fl-r();
	&-inter {
		display:block; padding:15px; height:@h-header; width:@h-header; color:#fff; .lh(20); .fs(20); border-left:1px solid rgba(255,255,255,0.2); .al-c(); .trans();
		.no-touch &:hover, .open & { background-color:@col-header-dark; }
	}
	&-i { right:0; left:auto; }
	&-disconnect { color:@col-error !important; }
}

/* nav */
.nav {
	.fl-r();
	&-i {
		.mar(0); .pad(0); list-style:none; padding:0; .rel();
		@media (max-width: @screen-xs-max) {
			display:block; .fix(); width:300px; height:100%; right:-100%; top:0; background-color:#fff; .pad(0); .trans(); -webkit-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); -moz-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1);
			.nav-open & { right:0; }
		}
	}
	&-link {
		color:#fff; .rel();
		.upper();
		.fs(12);
		font-weight:normal;
		display:inline; .mar-r(20);
		@media (max-width: @screen-xs-max) {
			display:block;
			.mar-t(0);
			color:@col-base;
			.mar-t(20); padding:20px;
			.mar(0);
			border-bottom:1px solid #ccc;
		}
		&:after {
			.abs(); height:2px; width:0; .abs(); bottom:-7px; left:0; background-color:#fff; content:''; .trans();
			@media (max-width: @screen-xs-max) {
				display:none;
			}
		}
		.no-touch &:hover {
			&:after { width:100%; }
		}
		&.current {
			color:@col-layout-l;
			&:after { width:100%; background-color:@col-layout-l; }
		}
		i { .fs(20); vertical-align:middle; }
	}
	&-inter {
		display:none; padding:15px; height:@h-header; width:@h-header; color:#fff; .lh(20); .fs(20); border-left:1px solid rgba(255,255,255,0.2); .al-c(); .fl-r();
		@media (max-width: @screen-xs-max) {
			display:block;
		}
	}
	&-header {
		display:none;
		@media (max-width: @screen-xs-max) {
			display:block; background-color:@col-header-dark; height:@h-header;
		}
		span { .upper(); color:#fff; line-height:@h-header; .pad-l(20); }
	}
	&-close { color:#fff; .fl-r(); display:block; width:@h-header; height:@h-header; .lh(50); .al-c(); display:block; .fs(20); }
}

/* meteo */
.meteo {
	height: 50px;
	display:inline-block;
	vertical-align:middle;
}

/* entete */
.entete {
	background-color:#fff; padding:10px 20px; .cf(); z-index:2; .rel(); -webkit-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); -moz-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); .fix(); width:100%; left:0; top:@h-header; min-height:@h-entete; z-index:90;
	@media (max-width: @screen-xs-max) {
		.rel(); top:auto;
	}
	&-title { .fs(16); color:@col-layout; .fl-r(); .lh(30); font-weight:bold; }
	&-switch {
		.fl-l();
		&-inter {
			cursor:pointer; .fs(16); .lh(30);
			&:after { .mar-l(10); .fs(24); .angle-down(); display:inline-block; height:20px; width:20px; vertical-align:middle; .lh(18); .al-c(); }
			span { color:@col-layout; }
		}
		&-i { display:none; }
	}
	&-filtre {
		.fl-r(); .mar-l(10);
		.dropdown-menu { right:0; left:auto; }
	}
	.datepicker-btn { .fl-r(); .mar-l(10); }
}
