// Copyright 2017 Pantomath SAS
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@font-face {
	font-family:"icons";
	src:url('../../font/icons.eot');
	src:url('../../font/icons.eot?#iefix') format('eot'),
		url('../../font/icons.woff2') format('woff2'),
		url('../../font/icons.woff') format('woff'),
		url('../../font/icons.ttf') format('truetype'),
		url('../../font/icons.svg#icons') format('svg');
}

[class^="ico-"], [class*=" ico-"] {
	&:before {
		font-family:"icons"; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; font-style:normal; font-variant:normal; font-weight:normal; text-decoration:none; text-transform:none;
	}
}

// mixins

.500px() { content:"\E001"; font-family:"icons"; }
.adjust() { content:"\E002"; font-family:"icons"; }
.adn() { content:"\E003"; font-family:"icons"; }
.align-center() { content:"\E004"; font-family:"icons"; }
.align-justify() { content:"\E005"; font-family:"icons"; }
.align-left() { content:"\E006"; font-family:"icons"; }
.align-right() { content:"\E007"; font-family:"icons"; }
.amazon() { content:"\E008"; font-family:"icons"; }
.ambulance() { content:"\E009"; font-family:"icons"; }
.american-sign-language-interpreting() { content:"\E00A"; font-family:"icons"; }
.anchor() { content:"\E00B"; font-family:"icons"; }
.android() { content:"\E00C"; font-family:"icons"; }
.angellist() { content:"\E00D"; font-family:"icons"; }
.angle-circled-down() { content:"\E00E"; font-family:"icons"; }
.angle-circled-left() { content:"\E00F"; font-family:"icons"; }
.angle-circled-right() { content:"\E010"; font-family:"icons"; }
.angle-circled-up() { content:"\E011"; font-family:"icons"; }
.angle-double-down() { content:"\E012"; font-family:"icons"; }
.angle-double-left() { content:"\E013"; font-family:"icons"; }
.angle-double-right() { content:"\E014"; font-family:"icons"; }
.angle-double-up() { content:"\E015"; font-family:"icons"; }
.angle-down() { content:"\E016"; font-family:"icons"; }
.angle-left() { content:"\E017"; font-family:"icons"; }
.angle-right() { content:"\E018"; font-family:"icons"; }
.angle-up() { content:"\E019"; font-family:"icons"; }
.apple() { content:"\E01A"; font-family:"icons"; }
.arrows-cw() { content:"\E01B"; font-family:"icons"; }
.asl-interpreting() { content:"\E01C"; font-family:"icons"; }
.assistive-listening-systems() { content:"\E01D"; font-family:"icons"; }
.asterisk() { content:"\E01E"; font-family:"icons"; }
.at() { content:"\E01F"; font-family:"icons"; }
.attach() { content:"\E020"; font-family:"icons"; }
.attention-alt() { content:"\E021"; font-family:"icons"; }
.attention-circled() { content:"\E022"; font-family:"icons"; }
.attention() { content:"\E023"; font-family:"icons"; }
.audio-description() { content:"\E024"; font-family:"icons"; }
.award() { content:"\E025"; font-family:"icons"; }
.balance-scale() { content:"\E026"; font-family:"icons"; }
.bank() { content:"\E027"; font-family:"icons"; }
.barcode() { content:"\E028"; font-family:"icons"; }
.basket() { content:"\E029"; font-family:"icons"; }
.battery-0() { content:"\E02A"; font-family:"icons"; }
.battery-1() { content:"\E02B"; font-family:"icons"; }
.battery-2() { content:"\E02C"; font-family:"icons"; }
.battery-3() { content:"\E02D"; font-family:"icons"; }
.battery-4() { content:"\E02E"; font-family:"icons"; }
.beaker() { content:"\E02F"; font-family:"icons"; }
.bed() { content:"\E030"; font-family:"icons"; }
.beer() { content:"\E031"; font-family:"icons"; }
.behance-squared() { content:"\E032"; font-family:"icons"; }
.behance() { content:"\E033"; font-family:"icons"; }
.bell-alt() { content:"\E034"; font-family:"icons"; }
.bell-off-empty() { content:"\E035"; font-family:"icons"; }
.bell-off() { content:"\E036"; font-family:"icons"; }
.bell() { content:"\E037"; font-family:"icons"; }
.bicycle() { content:"\E038"; font-family:"icons"; }
.binoculars() { content:"\E039"; font-family:"icons"; }
.birthday() { content:"\E03A"; font-family:"icons"; }
.bitbucket-squared() { content:"\E03B"; font-family:"icons"; }
.bitbucket() { content:"\E03C"; font-family:"icons"; }
.bitcoin() { content:"\E03D"; font-family:"icons"; }
.black-tie() { content:"\E03E"; font-family:"icons"; }
.blank() { content:"\E03F"; font-family:"icons"; }
.blind() { content:"\E040"; font-family:"icons"; }
.block() { content:"\E041"; font-family:"icons"; }
.bluetooth-b() { content:"\E042"; font-family:"icons"; }
.bluetooth() { content:"\E043"; font-family:"icons"; }
.bold() { content:"\E044"; font-family:"icons"; }
.bomb() { content:"\E045"; font-family:"icons"; }
.book() { content:"\E046"; font-family:"icons"; }
.bookmark-empty() { content:"\E047"; font-family:"icons"; }
.bookmark() { content:"\E048"; font-family:"icons"; }
.box() { content:"\E049"; font-family:"icons"; }
.braille() { content:"\E04A"; font-family:"icons"; }
.briefcase() { content:"\E04B"; font-family:"icons"; }
.brush() { content:"\E04C"; font-family:"icons"; }
.bug() { content:"\E04D"; font-family:"icons"; }
.building-filled() { content:"\E04E"; font-family:"icons"; }
.building() { content:"\E04F"; font-family:"icons"; }
.bullseye() { content:"\E050"; font-family:"icons"; }
.bus() { content:"\E051"; font-family:"icons"; }
.buysellads() { content:"\E052"; font-family:"icons"; }
.cab() { content:"\E053"; font-family:"icons"; }
.calc() { content:"\E054"; font-family:"icons"; }
.calendar-check-o() { content:"\E055"; font-family:"icons"; }
.calendar-empty() { content:"\E056"; font-family:"icons"; }
.calendar-minus-o() { content:"\E057"; font-family:"icons"; }
.calendar-plus-o() { content:"\E058"; font-family:"icons"; }
.calendar-times-o() { content:"\E059"; font-family:"icons"; }
.calendar() { content:"\E05A"; font-family:"icons"; }
.camera-alt() { content:"\E05B"; font-family:"icons"; }
.camera() { content:"\E05C"; font-family:"icons"; }
.cancel-circled() { content:"\E05D"; font-family:"icons"; }
.cancel-circled2() { content:"\E05E"; font-family:"icons"; }
.cancel() { content:"\E05F"; font-family:"icons"; }
.cart-arrow-down() { content:"\E060"; font-family:"icons"; }
.cart-plus() { content:"\E061"; font-family:"icons"; }
.cc-amex() { content:"\E062"; font-family:"icons"; }
.cc-diners-club() { content:"\E063"; font-family:"icons"; }
.cc-discover() { content:"\E064"; font-family:"icons"; }
.cc-jcb() { content:"\E065"; font-family:"icons"; }
.cc-mastercard() { content:"\E066"; font-family:"icons"; }
.cc-paypal() { content:"\E067"; font-family:"icons"; }
.cc-stripe() { content:"\E068"; font-family:"icons"; }
.cc-visa() { content:"\E069"; font-family:"icons"; }
.cc() { content:"\E06A"; font-family:"icons"; }
.ccw() { content:"\E06B"; font-family:"icons"; }
.certificate() { content:"\E06C"; font-family:"icons"; }
.chart-area() { content:"\E06D"; font-family:"icons"; }
.chart-bar() { content:"\E06E"; font-family:"icons"; }
.chart-line() { content:"\E06F"; font-family:"icons"; }
.chart-pie() { content:"\E070"; font-family:"icons"; }
.chat-empty() { content:"\E071"; font-family:"icons"; }
.chat() { content:"\E072"; font-family:"icons"; }
.check-empty() { content:"\E073"; font-family:"icons"; }
.check() { content:"\E074"; font-family:"icons"; }
.child() { content:"\E075"; font-family:"icons"; }
.chrome() { content:"\E076"; font-family:"icons"; }
.circle-empty() { content:"\E077"; font-family:"icons"; }
.circle-notch() { content:"\E078"; font-family:"icons"; }
.circle-thin() { content:"\E079"; font-family:"icons"; }
.circle() { content:"\E07A"; font-family:"icons"; }
.clock() { content:"\E07B"; font-family:"icons"; }
.clone() { content:"\E07C"; font-family:"icons"; }
.cloud() { content:"\E07D"; font-family:"icons"; }
.code() { content:"\E07E"; font-family:"icons"; }
.codeopen() { content:"\E07F"; font-family:"icons"; }
.codiepie() { content:"\E080"; font-family:"icons"; }
.coffee() { content:"\E081"; font-family:"icons"; }
.cog-alt() { content:"\E082"; font-family:"icons"; }
.cog() { content:"\E083"; font-family:"icons"; }
.collapse-left() { content:"\E084"; font-family:"icons"; }
.collapse() { content:"\E085"; font-family:"icons"; }
.columns() { content:"\E086"; font-family:"icons"; }
.comment-empty() { content:"\E087"; font-family:"icons"; }
.comment() { content:"\E088"; font-family:"icons"; }
.commenting-o() { content:"\E089"; font-family:"icons"; }
.commenting() { content:"\E08A"; font-family:"icons"; }
.compass() { content:"\E08B"; font-family:"icons"; }
.connectdevelop() { content:"\E08C"; font-family:"icons"; }
.contao() { content:"\E08D"; font-family:"icons"; }
.copyright() { content:"\E08E"; font-family:"icons"; }
.creative-commons() { content:"\E08F"; font-family:"icons"; }
.credit-card-alt() { content:"\E090"; font-family:"icons"; }
.credit-card() { content:"\E091"; font-family:"icons"; }
.crop() { content:"\E092"; font-family:"icons"; }
.css3() { content:"\E093"; font-family:"icons"; }
.cube() { content:"\E094"; font-family:"icons"; }
.cubes() { content:"\E095"; font-family:"icons"; }
.cw() { content:"\E096"; font-family:"icons"; }
.dashcube() { content:"\E097"; font-family:"icons"; }
.database() { content:"\E098"; font-family:"icons"; }
.delicious() { content:"\E099"; font-family:"icons"; }
.desktop() { content:"\E09A"; font-family:"icons"; }
.deviantart() { content:"\E09B"; font-family:"icons"; }
.diamond() { content:"\E09C"; font-family:"icons"; }
.digg() { content:"\E09D"; font-family:"icons"; }
.direction() { content:"\E09E"; font-family:"icons"; }
.doc-inv() { content:"\E09F"; font-family:"icons"; }
.doc-text-inv() { content:"\E0A0"; font-family:"icons"; }
.doc-text() { content:"\E0A1"; font-family:"icons"; }
.doc() { content:"\E0A2"; font-family:"icons"; }
.docs() { content:"\E0A3"; font-family:"icons"; }
.dollar() { content:"\E0A4"; font-family:"icons"; }
.dot-circled() { content:"\E0A5"; font-family:"icons"; }
.down-big() { content:"\E0A6"; font-family:"icons"; }
.down-circled() { content:"\E0A7"; font-family:"icons"; }
.down-circled2() { content:"\E0A8"; font-family:"icons"; }
.down-dir() { content:"\E0A9"; font-family:"icons"; }
.down-hand() { content:"\E0AA"; font-family:"icons"; }
.down-open() { content:"\E0AB"; font-family:"icons"; }
.down() { content:"\E0AC"; font-family:"icons"; }
.download-cloud() { content:"\E0AD"; font-family:"icons"; }
.download() { content:"\E0AE"; font-family:"icons"; }
.dribbble() { content:"\E0AF"; font-family:"icons"; }
.dropbox() { content:"\E0B0"; font-family:"icons"; }
.drupal() { content:"\E0B1"; font-family:"icons"; }
.edge() { content:"\E0B2"; font-family:"icons"; }
.edit() { content:"\E0B3"; font-family:"icons"; }
.eject() { content:"\E0B4"; font-family:"icons"; }
.ellipsis-vert() { content:"\E0B5"; font-family:"icons"; }
.ellipsis() { content:"\E0B6"; font-family:"icons"; }
.empire() { content:"\E0B7"; font-family:"icons"; }
.envira() { content:"\E0B8"; font-family:"icons"; }
.eraser() { content:"\E0B9"; font-family:"icons"; }
.euro() { content:"\E0BA"; font-family:"icons"; }
.exchange() { content:"\E0BB"; font-family:"icons"; }
.expand-right() { content:"\E0BC"; font-family:"icons"; }
.expand() { content:"\E0BD"; font-family:"icons"; }
.expeditedssl() { content:"\E0BE"; font-family:"icons"; }
.export-alt() { content:"\E0BF"; font-family:"icons"; }
.export() { content:"\E0C0"; font-family:"icons"; }
.extinguisher() { content:"\E0C1"; font-family:"icons"; }
.eye-off() { content:"\E0C2"; font-family:"icons"; }
.eye() { content:"\E0C3"; font-family:"icons"; }
.eyedropper() { content:"\E0C4"; font-family:"icons"; }
.facebook-official() { content:"\E0C5"; font-family:"icons"; }
.facebook-squared() { content:"\E0C6"; font-family:"icons"; }
.facebook() { content:"\E0C7"; font-family:"icons"; }
.fast-bw() { content:"\E0C8"; font-family:"icons"; }
.fast-fw() { content:"\E0C9"; font-family:"icons"; }
.fax() { content:"\E0CA"; font-family:"icons"; }
.female() { content:"\E0CB"; font-family:"icons"; }
.fighter-jet() { content:"\E0CC"; font-family:"icons"; }
.file-archive() { content:"\E0CD"; font-family:"icons"; }
.file-audio() { content:"\E0CE"; font-family:"icons"; }
.file-code() { content:"\E0CF"; font-family:"icons"; }
.file-excel() { content:"\E0D0"; font-family:"icons"; }
.file-image() { content:"\E0D1"; font-family:"icons"; }
.file-pdf() { content:"\E0D2"; font-family:"icons"; }
.file-powerpoint() { content:"\E0D3"; font-family:"icons"; }
.file-video() { content:"\E0D4"; font-family:"icons"; }
.file-word() { content:"\E0D5"; font-family:"icons"; }
.filter() { content:"\E0D6"; font-family:"icons"; }
.fire() { content:"\E0D7"; font-family:"icons"; }
.firefox() { content:"\E0D8"; font-family:"icons"; }
.first-order() { content:"\E0D9"; font-family:"icons"; }
.flag-checkered() { content:"\E0DA"; font-family:"icons"; }
.flag-empty() { content:"\E0DB"; font-family:"icons"; }
.flag() { content:"\E0DC"; font-family:"icons"; }
.flash() { content:"\E0DD"; font-family:"icons"; }
.flickr() { content:"\E0DE"; font-family:"icons"; }
.flight() { content:"\E0DF"; font-family:"icons"; }
.floppy() { content:"\E0E0"; font-family:"icons"; }
.folder-empty() { content:"\E0E1"; font-family:"icons"; }
.folder-open-empty() { content:"\E0E2"; font-family:"icons"; }
.folder-open() { content:"\E0E3"; font-family:"icons"; }
.folder() { content:"\E0E4"; font-family:"icons"; }
.font-awesome() { content:"\E0E5"; font-family:"icons"; }
.font() { content:"\E0E6"; font-family:"icons"; }
.fonticons() { content:"\E0E7"; font-family:"icons"; }
.food() { content:"\E0E8"; font-family:"icons"; }
.fork() { content:"\E0E9"; font-family:"icons"; }
.fort-awesome() { content:"\E0EA"; font-family:"icons"; }
.forumbee() { content:"\E0EB"; font-family:"icons"; }
.forward() { content:"\E0EC"; font-family:"icons"; }
.foursquare() { content:"\E0ED"; font-family:"icons"; }
.frown() { content:"\E0EE"; font-family:"icons"; }
.gamepad() { content:"\E0EF"; font-family:"icons"; }
.gauge() { content:"\E0F0"; font-family:"icons"; }
.genderless() { content:"\E0F1"; font-family:"icons"; }
.get-pocket() { content:"\E0F2"; font-family:"icons"; }
.gg-circle() { content:"\E0F3"; font-family:"icons"; }
.gg() { content:"\E0F4"; font-family:"icons"; }
.gift() { content:"\E0F5"; font-family:"icons"; }
.git-squared() { content:"\E0F6"; font-family:"icons"; }
.git() { content:"\E0F7"; font-family:"icons"; }
.github-circled() { content:"\E0F8"; font-family:"icons"; }
.github-squared() { content:"\E0F9"; font-family:"icons"; }
.github() { content:"\E0FA"; font-family:"icons"; }
.gitlab() { content:"\E0FB"; font-family:"icons"; }
.gittip() { content:"\E0FC"; font-family:"icons"; }
.glass() { content:"\E0FD"; font-family:"icons"; }
.glide-g() { content:"\E0FE"; font-family:"icons"; }
.glide() { content:"\E0FF"; font-family:"icons"; }
.globe() { content:"\E100"; font-family:"icons"; }
.google-plus-circle() { content:"\E101"; font-family:"icons"; }
.google() { content:"\E102"; font-family:"icons"; }
.gplus-squared() { content:"\E103"; font-family:"icons"; }
.gplus() { content:"\E104"; font-family:"icons"; }
.graduation-cap() { content:"\E105"; font-family:"icons"; }
.gwallet() { content:"\E106"; font-family:"icons"; }
.h-sigh() { content:"\E107"; font-family:"icons"; }
.hacker-news() { content:"\E108"; font-family:"icons"; }
.hammer() { content:"\E109"; font-family:"icons"; }
.hand-grab-o() { content:"\E10A"; font-family:"icons"; }
.hand-lizard-o() { content:"\E10B"; font-family:"icons"; }
.hand-paper-o() { content:"\E10C"; font-family:"icons"; }
.hand-peace-o() { content:"\E10D"; font-family:"icons"; }
.hand-pointer-o() { content:"\E10E"; font-family:"icons"; }
.hand-scissors-o() { content:"\E10F"; font-family:"icons"; }
.hand-spock-o() { content:"\E110"; font-family:"icons"; }
.hashtag() { content:"\E111"; font-family:"icons"; }
.hdd() { content:"\E112"; font-family:"icons"; }
.header() { content:"\E113"; font-family:"icons"; }
.headphones() { content:"\E114"; font-family:"icons"; }
.heart-empty() { content:"\E115"; font-family:"icons"; }
.heart() { content:"\E116"; font-family:"icons"; }
.heartbeat() { content:"\E117"; font-family:"icons"; }
.help-circled() { content:"\E118"; font-family:"icons"; }
.help() { content:"\E119"; font-family:"icons"; }
.history() { content:"\E11A"; font-family:"icons"; }
.home() { content:"\E11B"; font-family:"icons"; }
.hospital() { content:"\E11C"; font-family:"icons"; }
.hourglass-1() { content:"\E11D"; font-family:"icons"; }
.hourglass-2() { content:"\E11E"; font-family:"icons"; }
.hourglass-3() { content:"\E11F"; font-family:"icons"; }
.hourglass-o() { content:"\E120"; font-family:"icons"; }
.hourglass() { content:"\E121"; font-family:"icons"; }
.houzz() { content:"\E122"; font-family:"icons"; }
.html5() { content:"\E123"; font-family:"icons"; }
.i-cursor() { content:"\E124"; font-family:"icons"; }
.inbox() { content:"\E125"; font-family:"icons"; }
.indent-left() { content:"\E126"; font-family:"icons"; }
.indent-right() { content:"\E127"; font-family:"icons"; }
.industry() { content:"\E128"; font-family:"icons"; }
.info-circled() { content:"\E129"; font-family:"icons"; }
.info() { content:"\E12A"; font-family:"icons"; }
.instagram() { content:"\E12B"; font-family:"icons"; }
.internet-explorer() { content:"\E12C"; font-family:"icons"; }
.ioxhost() { content:"\E12D"; font-family:"icons"; }
.italic() { content:"\E12E"; font-family:"icons"; }
.joomla() { content:"\E12F"; font-family:"icons"; }
.jsfiddle() { content:"\E130"; font-family:"icons"; }
.key() { content:"\E131"; font-family:"icons"; }
.keyboard() { content:"\E132"; font-family:"icons"; }
.language() { content:"\E133"; font-family:"icons"; }
.laptop() { content:"\E134"; font-family:"icons"; }
.lastfm-squared() { content:"\E135"; font-family:"icons"; }
.lastfm() { content:"\E136"; font-family:"icons"; }
.leaf() { content:"\E137"; font-family:"icons"; }
.leanpub() { content:"\E138"; font-family:"icons"; }
.left-big() { content:"\E139"; font-family:"icons"; }
.left-circled() { content:"\E13A"; font-family:"icons"; }
.left-circled2() { content:"\E13B"; font-family:"icons"; }
.left-dir() { content:"\E13C"; font-family:"icons"; }
.left-hand() { content:"\E13D"; font-family:"icons"; }
.left-open() { content:"\E13E"; font-family:"icons"; }
.left() { content:"\E13F"; font-family:"icons"; }
.lemon() { content:"\E140"; font-family:"icons"; }
.level-down() { content:"\E141"; font-family:"icons"; }
.level-up() { content:"\E142"; font-family:"icons"; }
.lifebuoy() { content:"\E143"; font-family:"icons"; }
.lightbulb() { content:"\E144"; font-family:"icons"; }
.link-ext-alt() { content:"\E145"; font-family:"icons"; }
.link-ext() { content:"\E146"; font-family:"icons"; }
.link() { content:"\E147"; font-family:"icons"; }
.linkedin-squared() { content:"\E148"; font-family:"icons"; }
.linkedin() { content:"\E149"; font-family:"icons"; }
.linux() { content:"\E14A"; font-family:"icons"; }
.list-alt() { content:"\E14B"; font-family:"icons"; }
.list-bullet() { content:"\E14C"; font-family:"icons"; }
.list-numbered() { content:"\E14D"; font-family:"icons"; }
.list() { content:"\E14E"; font-family:"icons"; }
.location() { content:"\E14F"; font-family:"icons"; }
.lock-open-alt() { content:"\E150"; font-family:"icons"; }
.lock-open() { content:"\E151"; font-family:"icons"; }
.lock() { content:"\E152"; font-family:"icons"; }
.login() { content:"\E153"; font-family:"icons"; }
.logout() { content:"\E154"; font-family:"icons"; }
.low-vision() { content:"\E155"; font-family:"icons"; }
.magic() { content:"\E156"; font-family:"icons"; }
.magnet() { content:"\E157"; font-family:"icons"; }
.mail-alt() { content:"\E158"; font-family:"icons"; }
.mail-squared() { content:"\E159"; font-family:"icons"; }
.mail() { content:"\E15A"; font-family:"icons"; }
.male() { content:"\E15B"; font-family:"icons"; }
.map-o() { content:"\E15C"; font-family:"icons"; }
.map-pin() { content:"\E15D"; font-family:"icons"; }
.map-signs() { content:"\E15E"; font-family:"icons"; }
.map() { content:"\E15F"; font-family:"icons"; }
.mars-double() { content:"\E160"; font-family:"icons"; }
.mars-stroke-h() { content:"\E161"; font-family:"icons"; }
.mars-stroke-v() { content:"\E162"; font-family:"icons"; }
.mars-stroke() { content:"\E163"; font-family:"icons"; }
.mars() { content:"\E164"; font-family:"icons"; }
.maxcdn() { content:"\E165"; font-family:"icons"; }
.meanpath() { content:"\E166"; font-family:"icons"; }
.medium() { content:"\E167"; font-family:"icons"; }
.medkit() { content:"\E168"; font-family:"icons"; }
.megaphone() { content:"\E169"; font-family:"icons"; }
.meh() { content:"\E16A"; font-family:"icons"; }
.menu() { content:"\E16B"; font-family:"icons"; }
.mercury() { content:"\E16C"; font-family:"icons"; }
.mic() { content:"\E16D"; font-family:"icons"; }
.minus-circled() { content:"\E16E"; font-family:"icons"; }
.minus-squared-alt() { content:"\E16F"; font-family:"icons"; }
.minus-squared() { content:"\E170"; font-family:"icons"; }
.minus() { content:"\E171"; font-family:"icons"; }
.mixcloud() { content:"\E172"; font-family:"icons"; }
.mobile() { content:"\E173"; font-family:"icons"; }
.modx() { content:"\E174"; font-family:"icons"; }
.money() { content:"\E175"; font-family:"icons"; }
.moon() { content:"\E176"; font-family:"icons"; }
.motorcycle() { content:"\E177"; font-family:"icons"; }
.mouse-pointer() { content:"\E178"; font-family:"icons"; }
.move() { content:"\E179"; font-family:"icons"; }
.music() { content:"\E17A"; font-family:"icons"; }
.mute() { content:"\E17B"; font-family:"icons"; }
.neuter() { content:"\E17C"; font-family:"icons"; }
.newspaper() { content:"\E17D"; font-family:"icons"; }
.object-group() { content:"\E17E"; font-family:"icons"; }
.object-ungroup() { content:"\E17F"; font-family:"icons"; }
.odnoklassniki-square() { content:"\E180"; font-family:"icons"; }
.odnoklassniki() { content:"\E181"; font-family:"icons"; }
.off() { content:"\E182"; font-family:"icons"; }
.ok-circled() { content:"\E183"; font-family:"icons"; }
.ok-circled2() { content:"\E184"; font-family:"icons"; }
.ok-squared() { content:"\E185"; font-family:"icons"; }
.ok() { content:"\E186"; font-family:"icons"; }
.opencart() { content:"\E187"; font-family:"icons"; }
.openid() { content:"\E188"; font-family:"icons"; }
.opera() { content:"\E189"; font-family:"icons"; }
.optin-monster() { content:"\E18A"; font-family:"icons"; }
.pagelines() { content:"\E18B"; font-family:"icons"; }
.paper-plane-empty() { content:"\E18C"; font-family:"icons"; }
.paper-plane() { content:"\E18D"; font-family:"icons"; }
.paragraph() { content:"\E18E"; font-family:"icons"; }
.paste() { content:"\E18F"; font-family:"icons"; }
.pause-circle-o() { content:"\E190"; font-family:"icons"; }
.pause-circle() { content:"\E191"; font-family:"icons"; }
.pause() { content:"\E192"; font-family:"icons"; }
.paw() { content:"\E193"; font-family:"icons"; }
.paypal() { content:"\E194"; font-family:"icons"; }
.pencil-squared() { content:"\E195"; font-family:"icons"; }
.pencil() { content:"\E196"; font-family:"icons"; }
.percent() { content:"\E197"; font-family:"icons"; }
.phone-squared() { content:"\E198"; font-family:"icons"; }
.phone() { content:"\E199"; font-family:"icons"; }
.picture() { content:"\E19A"; font-family:"icons"; }
.pied-piper-alt() { content:"\E19B"; font-family:"icons"; }
.pied-piper-squared() { content:"\E19C"; font-family:"icons"; }
.pied-piper() { content:"\E19D"; font-family:"icons"; }
.pin() { content:"\E19E"; font-family:"icons"; }
.pinterest-circled() { content:"\E19F"; font-family:"icons"; }
.pinterest-squared() { content:"\E1A0"; font-family:"icons"; }
.pinterest() { content:"\E1A1"; font-family:"icons"; }
.play-circled() { content:"\E1A2"; font-family:"icons"; }
.play-circled2() { content:"\E1A3"; font-family:"icons"; }
.play() { content:"\E1A4"; font-family:"icons"; }
.plug() { content:"\E1A5"; font-family:"icons"; }
.plus-circled() { content:"\E1A6"; font-family:"icons"; }
.plus-squared-alt() { content:"\E1A7"; font-family:"icons"; }
.plus-squared() { content:"\E1A8"; font-family:"icons"; }
.plus() { content:"\E1A9"; font-family:"icons"; }
.pound() { content:"\E1AA"; font-family:"icons"; }
.print() { content:"\E1AB"; font-family:"icons"; }
.product-hunt() { content:"\E1AC"; font-family:"icons"; }
.puzzle() { content:"\E1AD"; font-family:"icons"; }
.qq() { content:"\E1AE"; font-family:"icons"; }
.qrcode() { content:"\E1AF"; font-family:"icons"; }
.question-circle-o() { content:"\E1B0"; font-family:"icons"; }
.quote-left() { content:"\E1B1"; font-family:"icons"; }
.quote-right() { content:"\E1B2"; font-family:"icons"; }
.rebel() { content:"\E1B3"; font-family:"icons"; }
.recycle() { content:"\E1B4"; font-family:"icons"; }
.reddit-alien() { content:"\E1B5"; font-family:"icons"; }
.reddit-squared() { content:"\E1B6"; font-family:"icons"; }
.reddit() { content:"\E1B7"; font-family:"icons"; }
.registered() { content:"\E1B8"; font-family:"icons"; }
.renren() { content:"\E1B9"; font-family:"icons"; }
.reply-all() { content:"\E1BA"; font-family:"icons"; }
.reply() { content:"\E1BB"; font-family:"icons"; }
.resize-full-alt() { content:"\E1BC"; font-family:"icons"; }
.resize-full() { content:"\E1BD"; font-family:"icons"; }
.resize-horizontal() { content:"\E1BE"; font-family:"icons"; }
.resize-small() { content:"\E1BF"; font-family:"icons"; }
.resize-vertical() { content:"\E1C0"; font-family:"icons"; }
.retweet() { content:"\E1C1"; font-family:"icons"; }
.right-big() { content:"\E1C2"; font-family:"icons"; }
.right-circled() { content:"\E1C3"; font-family:"icons"; }
.right-circled2() { content:"\E1C4"; font-family:"icons"; }
.right-dir() { content:"\E1C5"; font-family:"icons"; }
.right-hand() { content:"\E1C6"; font-family:"icons"; }
.right-open() { content:"\E1C7"; font-family:"icons"; }
.right() { content:"\E1C8"; font-family:"icons"; }
.road() { content:"\E1C9"; font-family:"icons"; }
.rocket() { content:"\E1CA"; font-family:"icons"; }
.rouble() { content:"\E1CB"; font-family:"icons"; }
.rss-squared() { content:"\E1CC"; font-family:"icons"; }
.rss() { content:"\E1CD"; font-family:"icons"; }
.rupee() { content:"\E1CE"; font-family:"icons"; }
.safari() { content:"\E1CF"; font-family:"icons"; }
.scissors() { content:"\E1D0"; font-family:"icons"; }
.scribd() { content:"\E1D1"; font-family:"icons"; }
.search() { content:"\E1D2"; font-family:"icons"; }
.sellsy() { content:"\E1D3"; font-family:"icons"; }
.server() { content:"\E1D4"; font-family:"icons"; }
.share-squared() { content:"\E1D5"; font-family:"icons"; }
.share() { content:"\E1D6"; font-family:"icons"; }
.shekel() { content:"\E1D7"; font-family:"icons"; }
.shield() { content:"\E1D8"; font-family:"icons"; }
.ship() { content:"\E1D9"; font-family:"icons"; }
.shirtsinbulk() { content:"\E1DA"; font-family:"icons"; }
.shopping-bag() { content:"\E1DB"; font-family:"icons"; }
.shopping-basket() { content:"\E1DC"; font-family:"icons"; }
.shuffle() { content:"\E1DD"; font-family:"icons"; }
.sign-language() { content:"\E1DE"; font-family:"icons"; }
.signal() { content:"\E1DF"; font-family:"icons"; }
.simplybuilt() { content:"\E1E0"; font-family:"icons"; }
.sitemap() { content:"\E1E1"; font-family:"icons"; }
.skyatlas() { content:"\E1E2"; font-family:"icons"; }
.skype() { content:"\E1E3"; font-family:"icons"; }
.slack() { content:"\E1E4"; font-family:"icons"; }
.sliders() { content:"\E1E5"; font-family:"icons"; }
.slideshare() { content:"\E1E6"; font-family:"icons"; }
.smile() { content:"\E1E7"; font-family:"icons"; }
.snapchat-ghost() { content:"\E1E8"; font-family:"icons"; }
.snapchat-square() { content:"\E1E9"; font-family:"icons"; }
.snapchat() { content:"\E1EA"; font-family:"icons"; }
.soccer-ball() { content:"\E1EB"; font-family:"icons"; }
.sort-alt-down() { content:"\E1EC"; font-family:"icons"; }
.sort-alt-up() { content:"\E1ED"; font-family:"icons"; }
.sort-down() { content:"\E1EE"; font-family:"icons"; }
.sort-name-down() { content:"\E1EF"; font-family:"icons"; }
.sort-name-up() { content:"\E1F0"; font-family:"icons"; }
.sort-number-down() { content:"\E1F1"; font-family:"icons"; }
.sort-number-up() { content:"\E1F2"; font-family:"icons"; }
.sort-up() { content:"\E1F3"; font-family:"icons"; }
.sort() { content:"\E1F4"; font-family:"icons"; }
.soundcloud() { content:"\E1F5"; font-family:"icons"; }
.space-shuttle() { content:"\E1F6"; font-family:"icons"; }
.spinner() { content:"\E1F7"; font-family:"icons"; }
.spoon() { content:"\E1F8"; font-family:"icons"; }
.spotify() { content:"\E1F9"; font-family:"icons"; }
.stackexchange() { content:"\E1FA"; font-family:"icons"; }
.stackoverflow() { content:"\E1FB"; font-family:"icons"; }
.star-empty() { content:"\E1FC"; font-family:"icons"; }
.star-half-alt() { content:"\E1FD"; font-family:"icons"; }
.star-half() { content:"\E1FE"; font-family:"icons"; }
.star() { content:"\E1FF"; font-family:"icons"; }
.steam-squared() { content:"\E200"; font-family:"icons"; }
.steam() { content:"\E201"; font-family:"icons"; }
.stethoscope() { content:"\E202"; font-family:"icons"; }
.sticky-note-o() { content:"\E203"; font-family:"icons"; }
.sticky-note() { content:"\E204"; font-family:"icons"; }
.stop-circle-o() { content:"\E205"; font-family:"icons"; }
.stop-circle() { content:"\E206"; font-family:"icons"; }
.stop() { content:"\E207"; font-family:"icons"; }
.street-view() { content:"\E208"; font-family:"icons"; }
.strike() { content:"\E209"; font-family:"icons"; }
.stumbleupon-circled() { content:"\E20A"; font-family:"icons"; }
.stumbleupon() { content:"\E20B"; font-family:"icons"; }
.subscript() { content:"\E20C"; font-family:"icons"; }
.subway() { content:"\E20D"; font-family:"icons"; }
.suitcase() { content:"\E20E"; font-family:"icons"; }
.sun() { content:"\E20F"; font-family:"icons"; }
.superscript() { content:"\E210"; font-family:"icons"; }
.table() { content:"\E211"; font-family:"icons"; }
.tablet() { content:"\E212"; font-family:"icons"; }
.tag() { content:"\E213"; font-family:"icons"; }
.tags() { content:"\E214"; font-family:"icons"; }
.target() { content:"\E215"; font-family:"icons"; }
.tasks() { content:"\E216"; font-family:"icons"; }
.taxi() { content:"\E217"; font-family:"icons"; }
.television() { content:"\E218"; font-family:"icons"; }
.tencent-weibo() { content:"\E219"; font-family:"icons"; }
.terminal() { content:"\E21A"; font-family:"icons"; }
.text-height() { content:"\E21B"; font-family:"icons"; }
.text-width() { content:"\E21C"; font-family:"icons"; }
.th-large() { content:"\E21D"; font-family:"icons"; }
.th-list() { content:"\E21E"; font-family:"icons"; }
.th() { content:"\E21F"; font-family:"icons"; }
.themeisle() { content:"\E220"; font-family:"icons"; }
.thumbs-down-alt() { content:"\E221"; font-family:"icons"; }
.thumbs-down() { content:"\E222"; font-family:"icons"; }
.thumbs-up-alt() { content:"\E223"; font-family:"icons"; }
.thumbs-up() { content:"\E224"; font-family:"icons"; }
.ticket() { content:"\E225"; font-family:"icons"; }
.tint() { content:"\E226"; font-family:"icons"; }
.to-end-alt() { content:"\E227"; font-family:"icons"; }
.to-end() { content:"\E228"; font-family:"icons"; }
.to-start-alt() { content:"\E229"; font-family:"icons"; }
.to-start() { content:"\E22A"; font-family:"icons"; }
.toggle-off() { content:"\E22B"; font-family:"icons"; }
.toggle-on() { content:"\E22C"; font-family:"icons"; }
.trademark() { content:"\E22D"; font-family:"icons"; }
.train() { content:"\E22E"; font-family:"icons"; }
.transgender-alt() { content:"\E22F"; font-family:"icons"; }
.transgender() { content:"\E230"; font-family:"icons"; }
.trash-empty() { content:"\E231"; font-family:"icons"; }
.trash() { content:"\E232"; font-family:"icons"; }
.tree() { content:"\E233"; font-family:"icons"; }
.trello() { content:"\E234"; font-family:"icons"; }
.tripadvisor() { content:"\E235"; font-family:"icons"; }
.truck() { content:"\E236"; font-family:"icons"; }
.try() { content:"\E237"; font-family:"icons"; }
.tty() { content:"\E238"; font-family:"icons"; }
.tumblr-squared() { content:"\E239"; font-family:"icons"; }
.tumblr() { content:"\E23A"; font-family:"icons"; }
.twitch() { content:"\E23B"; font-family:"icons"; }
.twitter-squared() { content:"\E23C"; font-family:"icons"; }
.twitter() { content:"\E23D"; font-family:"icons"; }
.umbrella() { content:"\E23E"; font-family:"icons"; }
.underline() { content:"\E23F"; font-family:"icons"; }
.universal-access() { content:"\E240"; font-family:"icons"; }
.unlink() { content:"\E241"; font-family:"icons"; }
.up-big() { content:"\E242"; font-family:"icons"; }
.up-circled() { content:"\E243"; font-family:"icons"; }
.up-circled2() { content:"\E244"; font-family:"icons"; }
.up-dir() { content:"\E245"; font-family:"icons"; }
.up-hand() { content:"\E246"; font-family:"icons"; }
.up-open() { content:"\E247"; font-family:"icons"; }
.up() { content:"\E248"; font-family:"icons"; }
.upload-cloud() { content:"\E249"; font-family:"icons"; }
.upload() { content:"\E24A"; font-family:"icons"; }
.usb() { content:"\E24B"; font-family:"icons"; }
.user-md() { content:"\E24C"; font-family:"icons"; }
.user-plus() { content:"\E24D"; font-family:"icons"; }
.user-secret() { content:"\E24E"; font-family:"icons"; }
.user-times() { content:"\E24F"; font-family:"icons"; }
.user() { content:"\E250"; font-family:"icons"; }
.users() { content:"\E251"; font-family:"icons"; }
.venus-double() { content:"\E252"; font-family:"icons"; }
.venus-mars() { content:"\E253"; font-family:"icons"; }
.venus() { content:"\E254"; font-family:"icons"; }
.viacoin() { content:"\E255"; font-family:"icons"; }
.viadeo-square() { content:"\E256"; font-family:"icons"; }
.viadeo() { content:"\E257"; font-family:"icons"; }
.video() { content:"\E258"; font-family:"icons"; }
.videocam() { content:"\E259"; font-family:"icons"; }
.vimeo-squared() { content:"\E25A"; font-family:"icons"; }
.vimeo() { content:"\E25B"; font-family:"icons"; }
.vine() { content:"\E25C"; font-family:"icons"; }
.vkontakte() { content:"\E25D"; font-family:"icons"; }
.volume-control-phone() { content:"\E25E"; font-family:"icons"; }
.volume-down() { content:"\E25F"; font-family:"icons"; }
.volume-off() { content:"\E260"; font-family:"icons"; }
.volume-up() { content:"\E261"; font-family:"icons"; }
.wechat() { content:"\E262"; font-family:"icons"; }
.weibo() { content:"\E263"; font-family:"icons"; }
.whatsapp() { content:"\E264"; font-family:"icons"; }
.wheelchair-alt() { content:"\E265"; font-family:"icons"; }
.wheelchair() { content:"\E266"; font-family:"icons"; }
.wifi() { content:"\E267"; font-family:"icons"; }
.wikipedia-w() { content:"\E268"; font-family:"icons"; }
.windows() { content:"\E269"; font-family:"icons"; }
.won() { content:"\E26A"; font-family:"icons"; }
.wordpress() { content:"\E26B"; font-family:"icons"; }
.wpbeginner() { content:"\E26C"; font-family:"icons"; }
.wpforms() { content:"\E26D"; font-family:"icons"; }
.wrench() { content:"\E26E"; font-family:"icons"; }
.xing-squared() { content:"\E26F"; font-family:"icons"; }
.xing() { content:"\E270"; font-family:"icons"; }
.y-combinator() { content:"\E271"; font-family:"icons"; }
.yahoo() { content:"\E272"; font-family:"icons"; }
.yelp() { content:"\E273"; font-family:"icons"; }
.yen() { content:"\E274"; font-family:"icons"; }
.yoast() { content:"\E275"; font-family:"icons"; }
.youtube-play() { content:"\E276"; font-family:"icons"; }
.youtube-squared() { content:"\E277"; font-family:"icons"; }
.youtube() { content:"\E278"; font-family:"icons"; }
.zoom-in() { content:"\E279"; font-family:"icons"; }
.zoom-out() { content:"\E27A"; font-family:"icons"; }

// classes

i.ico-500px:before { content:"\E001"; }
i.ico-adjust:before { content:"\E002"; }
i.ico-adn:before { content:"\E003"; }
i.ico-align-center:before { content:"\E004"; }
i.ico-align-justify:before { content:"\E005"; }
i.ico-align-left:before { content:"\E006"; }
i.ico-align-right:before { content:"\E007"; }
i.ico-amazon:before { content:"\E008"; }
i.ico-ambulance:before { content:"\E009"; }
i.ico-american-sign-language-interpreting:before { content:"\E00A"; }
i.ico-anchor:before { content:"\E00B"; }
i.ico-android:before { content:"\E00C"; }
i.ico-angellist:before { content:"\E00D"; }
i.ico-angle-circled-down:before { content:"\E00E"; }
i.ico-angle-circled-left:before { content:"\E00F"; }
i.ico-angle-circled-right:before { content:"\E010"; }
i.ico-angle-circled-up:before { content:"\E011"; }
i.ico-angle-double-down:before { content:"\E012"; }
i.ico-angle-double-left:before { content:"\E013"; }
i.ico-angle-double-right:before { content:"\E014"; }
i.ico-angle-double-up:before { content:"\E015"; }
i.ico-angle-down:before { content:"\E016"; }
i.ico-angle-left:before { content:"\E017"; }
i.ico-angle-right:before { content:"\E018"; }
i.ico-angle-up:before { content:"\E019"; }
i.ico-apple:before { content:"\E01A"; }
i.ico-arrows-cw:before { content:"\E01B"; }
i.ico-asl-interpreting:before { content:"\E01C"; }
i.ico-assistive-listening-systems:before { content:"\E01D"; }
i.ico-asterisk:before { content:"\E01E"; }
i.ico-at:before { content:"\E01F"; }
i.ico-attach:before { content:"\E020"; }
i.ico-attention-alt:before { content:"\E021"; }
i.ico-attention-circled:before { content:"\E022"; }
i.ico-attention:before { content:"\E023"; }
i.ico-audio-description:before { content:"\E024"; }
i.ico-award:before { content:"\E025"; }
i.ico-balance-scale:before { content:"\E026"; }
i.ico-bank:before { content:"\E027"; }
i.ico-barcode:before { content:"\E028"; }
i.ico-basket:before { content:"\E029"; }
i.ico-battery-0:before { content:"\E02A"; }
i.ico-battery-1:before { content:"\E02B"; }
i.ico-battery-2:before { content:"\E02C"; }
i.ico-battery-3:before { content:"\E02D"; }
i.ico-battery-4:before { content:"\E02E"; }
i.ico-beaker:before { content:"\E02F"; }
i.ico-bed:before { content:"\E030"; }
i.ico-beer:before { content:"\E031"; }
i.ico-behance-squared:before { content:"\E032"; }
i.ico-behance:before { content:"\E033"; }
i.ico-bell-alt:before { content:"\E034"; }
i.ico-bell-off-empty:before { content:"\E035"; }
i.ico-bell-off:before { content:"\E036"; }
i.ico-bell:before { content:"\E037"; }
i.ico-bicycle:before { content:"\E038"; }
i.ico-binoculars:before { content:"\E039"; }
i.ico-birthday:before { content:"\E03A"; }
i.ico-bitbucket-squared:before { content:"\E03B"; }
i.ico-bitbucket:before { content:"\E03C"; }
i.ico-bitcoin:before { content:"\E03D"; }
i.ico-black-tie:before { content:"\E03E"; }
i.ico-blank:before { content:"\E03F"; }
i.ico-blind:before { content:"\E040"; }
i.ico-block:before { content:"\E041"; }
i.ico-bluetooth-b:before { content:"\E042"; }
i.ico-bluetooth:before { content:"\E043"; }
i.ico-bold:before { content:"\E044"; }
i.ico-bomb:before { content:"\E045"; }
i.ico-book:before { content:"\E046"; }
i.ico-bookmark-empty:before { content:"\E047"; }
i.ico-bookmark:before { content:"\E048"; }
i.ico-box:before { content:"\E049"; }
i.ico-braille:before { content:"\E04A"; }
i.ico-briefcase:before { content:"\E04B"; }
i.ico-brush:before { content:"\E04C"; }
i.ico-bug:before { content:"\E04D"; }
i.ico-building-filled:before { content:"\E04E"; }
i.ico-building:before { content:"\E04F"; }
i.ico-bullseye:before { content:"\E050"; }
i.ico-bus:before { content:"\E051"; }
i.ico-buysellads:before { content:"\E052"; }
i.ico-cab:before { content:"\E053"; }
i.ico-calc:before { content:"\E054"; }
i.ico-calendar-check-o:before { content:"\E055"; }
i.ico-calendar-empty:before { content:"\E056"; }
i.ico-calendar-minus-o:before { content:"\E057"; }
i.ico-calendar-plus-o:before { content:"\E058"; }
i.ico-calendar-times-o:before { content:"\E059"; }
i.ico-calendar:before { content:"\E05A"; }
i.ico-camera-alt:before { content:"\E05B"; }
i.ico-camera:before { content:"\E05C"; }
i.ico-cancel-circled:before { content:"\E05D"; }
i.ico-cancel-circled2:before { content:"\E05E"; }
i.ico-cancel:before { content:"\E05F"; }
i.ico-cart-arrow-down:before { content:"\E060"; }
i.ico-cart-plus:before { content:"\E061"; }
i.ico-cc-amex:before { content:"\E062"; }
i.ico-cc-diners-club:before { content:"\E063"; }
i.ico-cc-discover:before { content:"\E064"; }
i.ico-cc-jcb:before { content:"\E065"; }
i.ico-cc-mastercard:before { content:"\E066"; }
i.ico-cc-paypal:before { content:"\E067"; }
i.ico-cc-stripe:before { content:"\E068"; }
i.ico-cc-visa:before { content:"\E069"; }
i.ico-cc:before { content:"\E06A"; }
i.ico-ccw:before { content:"\E06B"; }
i.ico-certificate:before { content:"\E06C"; }
i.ico-chart-area:before { content:"\E06D"; }
i.ico-chart-bar:before { content:"\E06E"; }
i.ico-chart-line:before { content:"\E06F"; }
i.ico-chart-pie:before { content:"\E070"; }
i.ico-chat-empty:before { content:"\E071"; }
i.ico-chat:before { content:"\E072"; }
i.ico-check-empty:before { content:"\E073"; }
i.ico-check:before { content:"\E074"; }
i.ico-child:before { content:"\E075"; }
i.ico-chrome:before { content:"\E076"; }
i.ico-circle-empty:before { content:"\E077"; }
i.ico-circle-notch:before { content:"\E078"; }
i.ico-circle-thin:before { content:"\E079"; }
i.ico-circle:before { content:"\E07A"; }
i.ico-clock:before { content:"\E07B"; }
i.ico-clone:before { content:"\E07C"; }
i.ico-cloud:before { content:"\E07D"; }
i.ico-code:before { content:"\E07E"; }
i.ico-codeopen:before { content:"\E07F"; }
i.ico-codiepie:before { content:"\E080"; }
i.ico-coffee:before { content:"\E081"; }
i.ico-cog-alt:before { content:"\E082"; }
i.ico-cog:before { content:"\E083"; }
i.ico-collapse-left:before { content:"\E084"; }
i.ico-collapse:before { content:"\E085"; }
i.ico-columns:before { content:"\E086"; }
i.ico-comment-empty:before { content:"\E087"; }
i.ico-comment:before { content:"\E088"; }
i.ico-commenting-o:before { content:"\E089"; }
i.ico-commenting:before { content:"\E08A"; }
i.ico-compass:before { content:"\E08B"; }
i.ico-connectdevelop:before { content:"\E08C"; }
i.ico-contao:before { content:"\E08D"; }
i.ico-copyright:before { content:"\E08E"; }
i.ico-creative-commons:before { content:"\E08F"; }
i.ico-credit-card-alt:before { content:"\E090"; }
i.ico-credit-card:before { content:"\E091"; }
i.ico-crop:before { content:"\E092"; }
i.ico-css3:before { content:"\E093"; }
i.ico-cube:before { content:"\E094"; }
i.ico-cubes:before { content:"\E095"; }
i.ico-cw:before { content:"\E096"; }
i.ico-dashcube:before { content:"\E097"; }
i.ico-database:before { content:"\E098"; }
i.ico-delicious:before { content:"\E099"; }
i.ico-desktop:before { content:"\E09A"; }
i.ico-deviantart:before { content:"\E09B"; }
i.ico-diamond:before { content:"\E09C"; }
i.ico-digg:before { content:"\E09D"; }
i.ico-direction:before { content:"\E09E"; }
i.ico-doc-inv:before { content:"\E09F"; }
i.ico-doc-text-inv:before { content:"\E0A0"; }
i.ico-doc-text:before { content:"\E0A1"; }
i.ico-doc:before { content:"\E0A2"; }
i.ico-docs:before { content:"\E0A3"; }
i.ico-dollar:before { content:"\E0A4"; }
i.ico-dot-circled:before { content:"\E0A5"; }
i.ico-down-big:before { content:"\E0A6"; }
i.ico-down-circled:before { content:"\E0A7"; }
i.ico-down-circled2:before { content:"\E0A8"; }
i.ico-down-dir:before { content:"\E0A9"; }
i.ico-down-hand:before { content:"\E0AA"; }
i.ico-down-open:before { content:"\E0AB"; }
i.ico-down:before { content:"\E0AC"; }
i.ico-download-cloud:before { content:"\E0AD"; }
i.ico-download:before { content:"\E0AE"; }
i.ico-dribbble:before { content:"\E0AF"; }
i.ico-dropbox:before { content:"\E0B0"; }
i.ico-drupal:before { content:"\E0B1"; }
i.ico-edge:before { content:"\E0B2"; }
i.ico-edit:before { content:"\E0B3"; }
i.ico-eject:before { content:"\E0B4"; }
i.ico-ellipsis-vert:before { content:"\E0B5"; }
i.ico-ellipsis:before { content:"\E0B6"; }
i.ico-empire:before { content:"\E0B7"; }
i.ico-envira:before { content:"\E0B8"; }
i.ico-eraser:before { content:"\E0B9"; }
i.ico-euro:before { content:"\E0BA"; }
i.ico-exchange:before { content:"\E0BB"; }
i.ico-expand-right:before { content:"\E0BC"; }
i.ico-expand:before { content:"\E0BD"; }
i.ico-expeditedssl:before { content:"\E0BE"; }
i.ico-export-alt:before { content:"\E0BF"; }
i.ico-export:before { content:"\E0C0"; }
i.ico-extinguisher:before { content:"\E0C1"; }
i.ico-eye-off:before { content:"\E0C2"; }
i.ico-eye:before { content:"\E0C3"; }
i.ico-eyedropper:before { content:"\E0C4"; }
i.ico-facebook-official:before { content:"\E0C5"; }
i.ico-facebook-squared:before { content:"\E0C6"; }
i.ico-facebook:before { content:"\E0C7"; }
i.ico-fast-bw:before { content:"\E0C8"; }
i.ico-fast-fw:before { content:"\E0C9"; }
i.ico-fax:before { content:"\E0CA"; }
i.ico-female:before { content:"\E0CB"; }
i.ico-fighter-jet:before { content:"\E0CC"; }
i.ico-file-archive:before { content:"\E0CD"; }
i.ico-file-audio:before { content:"\E0CE"; }
i.ico-file-code:before { content:"\E0CF"; }
i.ico-file-excel:before { content:"\E0D0"; }
i.ico-file-image:before { content:"\E0D1"; }
i.ico-file-pdf:before { content:"\E0D2"; }
i.ico-file-powerpoint:before { content:"\E0D3"; }
i.ico-file-video:before { content:"\E0D4"; }
i.ico-file-word:before { content:"\E0D5"; }
i.ico-filter:before { content:"\E0D6"; }
i.ico-fire:before { content:"\E0D7"; }
i.ico-firefox:before { content:"\E0D8"; }
i.ico-first-order:before { content:"\E0D9"; }
i.ico-flag-checkered:before { content:"\E0DA"; }
i.ico-flag-empty:before { content:"\E0DB"; }
i.ico-flag:before { content:"\E0DC"; }
i.ico-flash:before { content:"\E0DD"; }
i.ico-flickr:before { content:"\E0DE"; }
i.ico-flight:before { content:"\E0DF"; }
i.ico-floppy:before { content:"\E0E0"; }
i.ico-folder-empty:before { content:"\E0E1"; }
i.ico-folder-open-empty:before { content:"\E0E2"; }
i.ico-folder-open:before { content:"\E0E3"; }
i.ico-folder:before { content:"\E0E4"; }
i.ico-font-awesome:before { content:"\E0E5"; }
i.ico-font:before { content:"\E0E6"; }
i.ico-fonticons:before { content:"\E0E7"; }
i.ico-food:before { content:"\E0E8"; }
i.ico-fork:before { content:"\E0E9"; }
i.ico-fort-awesome:before { content:"\E0EA"; }
i.ico-forumbee:before { content:"\E0EB"; }
i.ico-forward:before { content:"\E0EC"; }
i.ico-foursquare:before { content:"\E0ED"; }
i.ico-frown:before { content:"\E0EE"; }
i.ico-gamepad:before { content:"\E0EF"; }
i.ico-gauge:before { content:"\E0F0"; }
i.ico-genderless:before { content:"\E0F1"; }
i.ico-get-pocket:before { content:"\E0F2"; }
i.ico-gg-circle:before { content:"\E0F3"; }
i.ico-gg:before { content:"\E0F4"; }
i.ico-gift:before { content:"\E0F5"; }
i.ico-git-squared:before { content:"\E0F6"; }
i.ico-git:before { content:"\E0F7"; }
i.ico-github-circled:before { content:"\E0F8"; }
i.ico-github-squared:before { content:"\E0F9"; }
i.ico-github:before { content:"\E0FA"; }
i.ico-gitlab:before { content:"\E0FB"; }
i.ico-gittip:before { content:"\E0FC"; }
i.ico-glass:before { content:"\E0FD"; }
i.ico-glide-g:before { content:"\E0FE"; }
i.ico-glide:before { content:"\E0FF"; }
i.ico-globe:before { content:"\E100"; }
i.ico-google-plus-circle:before { content:"\E101"; }
i.ico-google:before { content:"\E102"; }
i.ico-gplus-squared:before { content:"\E103"; }
i.ico-gplus:before { content:"\E104"; }
i.ico-graduation-cap:before { content:"\E105"; }
i.ico-gwallet:before { content:"\E106"; }
i.ico-h-sigh:before { content:"\E107"; }
i.ico-hacker-news:before { content:"\E108"; }
i.ico-hammer:before { content:"\E109"; }
i.ico-hand-grab-o:before { content:"\E10A"; }
i.ico-hand-lizard-o:before { content:"\E10B"; }
i.ico-hand-paper-o:before { content:"\E10C"; }
i.ico-hand-peace-o:before { content:"\E10D"; }
i.ico-hand-pointer-o:before { content:"\E10E"; }
i.ico-hand-scissors-o:before { content:"\E10F"; }
i.ico-hand-spock-o:before { content:"\E110"; }
i.ico-hashtag:before { content:"\E111"; }
i.ico-hdd:before { content:"\E112"; }
i.ico-header:before { content:"\E113"; }
i.ico-headphones:before { content:"\E114"; }
i.ico-heart-empty:before { content:"\E115"; }
i.ico-heart:before { content:"\E116"; }
i.ico-heartbeat:before { content:"\E117"; }
i.ico-help-circled:before { content:"\E118"; }
i.ico-help:before { content:"\E119"; }
i.ico-history:before { content:"\E11A"; }
i.ico-home:before { content:"\E11B"; }
i.ico-hospital:before { content:"\E11C"; }
i.ico-hourglass-1:before { content:"\E11D"; }
i.ico-hourglass-2:before { content:"\E11E"; }
i.ico-hourglass-3:before { content:"\E11F"; }
i.ico-hourglass-o:before { content:"\E120"; }
i.ico-hourglass:before { content:"\E121"; }
i.ico-houzz:before { content:"\E122"; }
i.ico-html5:before { content:"\E123"; }
i.ico-i-cursor:before { content:"\E124"; }
i.ico-inbox:before { content:"\E125"; }
i.ico-indent-left:before { content:"\E126"; }
i.ico-indent-right:before { content:"\E127"; }
i.ico-industry:before { content:"\E128"; }
i.ico-info-circled:before { content:"\E129"; }
i.ico-info:before { content:"\E12A"; }
i.ico-instagram:before { content:"\E12B"; }
i.ico-internet-explorer:before { content:"\E12C"; }
i.ico-ioxhost:before { content:"\E12D"; }
i.ico-italic:before { content:"\E12E"; }
i.ico-joomla:before { content:"\E12F"; }
i.ico-jsfiddle:before { content:"\E130"; }
i.ico-key:before { content:"\E131"; }
i.ico-keyboard:before { content:"\E132"; }
i.ico-language:before { content:"\E133"; }
i.ico-laptop:before { content:"\E134"; }
i.ico-lastfm-squared:before { content:"\E135"; }
i.ico-lastfm:before { content:"\E136"; }
i.ico-leaf:before { content:"\E137"; }
i.ico-leanpub:before { content:"\E138"; }
i.ico-left-big:before { content:"\E139"; }
i.ico-left-circled:before { content:"\E13A"; }
i.ico-left-circled2:before { content:"\E13B"; }
i.ico-left-dir:before { content:"\E13C"; }
i.ico-left-hand:before { content:"\E13D"; }
i.ico-left-open:before { content:"\E13E"; }
i.ico-left:before { content:"\E13F"; }
i.ico-lemon:before { content:"\E140"; }
i.ico-level-down:before { content:"\E141"; }
i.ico-level-up:before { content:"\E142"; }
i.ico-lifebuoy:before { content:"\E143"; }
i.ico-lightbulb:before { content:"\E144"; }
i.ico-link-ext-alt:before { content:"\E145"; }
i.ico-link-ext:before { content:"\E146"; }
i.ico-link:before { content:"\E147"; }
i.ico-linkedin-squared:before { content:"\E148"; }
i.ico-linkedin:before { content:"\E149"; }
i.ico-linux:before { content:"\E14A"; }
i.ico-list-alt:before { content:"\E14B"; }
i.ico-list-bullet:before { content:"\E14C"; }
i.ico-list-numbered:before { content:"\E14D"; }
i.ico-list:before { content:"\E14E"; }
i.ico-location:before { content:"\E14F"; }
i.ico-lock-open-alt:before { content:"\E150"; }
i.ico-lock-open:before { content:"\E151"; }
i.ico-lock:before { content:"\E152"; }
i.ico-login:before { content:"\E153"; }
i.ico-logout:before { content:"\E154"; }
i.ico-low-vision:before { content:"\E155"; }
i.ico-magic:before { content:"\E156"; }
i.ico-magnet:before { content:"\E157"; }
i.ico-mail-alt:before { content:"\E158"; }
i.ico-mail-squared:before { content:"\E159"; }
i.ico-mail:before { content:"\E15A"; }
i.ico-male:before { content:"\E15B"; }
i.ico-map-o:before { content:"\E15C"; }
i.ico-map-pin:before { content:"\E15D"; }
i.ico-map-signs:before { content:"\E15E"; }
i.ico-map:before { content:"\E15F"; }
i.ico-mars-double:before { content:"\E160"; }
i.ico-mars-stroke-h:before { content:"\E161"; }
i.ico-mars-stroke-v:before { content:"\E162"; }
i.ico-mars-stroke:before { content:"\E163"; }
i.ico-mars:before { content:"\E164"; }
i.ico-maxcdn:before { content:"\E165"; }
i.ico-meanpath:before { content:"\E166"; }
i.ico-medium:before { content:"\E167"; }
i.ico-medkit:before { content:"\E168"; }
i.ico-megaphone:before { content:"\E169"; }
i.ico-meh:before { content:"\E16A"; }
i.ico-menu:before { content:"\E16B"; }
i.ico-mercury:before { content:"\E16C"; }
i.ico-mic:before { content:"\E16D"; }
i.ico-minus-circled:before { content:"\E16E"; }
i.ico-minus-squared-alt:before { content:"\E16F"; }
i.ico-minus-squared:before { content:"\E170"; }
i.ico-minus:before { content:"\E171"; }
i.ico-mixcloud:before { content:"\E172"; }
i.ico-mobile:before { content:"\E173"; }
i.ico-modx:before { content:"\E174"; }
i.ico-money:before { content:"\E175"; }
i.ico-moon:before { content:"\E176"; }
i.ico-motorcycle:before { content:"\E177"; }
i.ico-mouse-pointer:before { content:"\E178"; }
i.ico-move:before { content:"\E179"; }
i.ico-music:before { content:"\E17A"; }
i.ico-mute:before { content:"\E17B"; }
i.ico-neuter:before { content:"\E17C"; }
i.ico-newspaper:before { content:"\E17D"; }
i.ico-object-group:before { content:"\E17E"; }
i.ico-object-ungroup:before { content:"\E17F"; }
i.ico-odnoklassniki-square:before { content:"\E180"; }
i.ico-odnoklassniki:before { content:"\E181"; }
i.ico-off:before { content:"\E182"; }
i.ico-ok-circled:before { content:"\E183"; }
i.ico-ok-circled2:before { content:"\E184"; }
i.ico-ok-squared:before { content:"\E185"; }
i.ico-ok:before { content:"\E186"; }
i.ico-opencart:before { content:"\E187"; }
i.ico-openid:before { content:"\E188"; }
i.ico-opera:before { content:"\E189"; }
i.ico-optin-monster:before { content:"\E18A"; }
i.ico-pagelines:before { content:"\E18B"; }
i.ico-paper-plane-empty:before { content:"\E18C"; }
i.ico-paper-plane:before { content:"\E18D"; }
i.ico-paragraph:before { content:"\E18E"; }
i.ico-paste:before { content:"\E18F"; }
i.ico-pause-circle-o:before { content:"\E190"; }
i.ico-pause-circle:before { content:"\E191"; }
i.ico-pause:before { content:"\E192"; }
i.ico-paw:before { content:"\E193"; }
i.ico-paypal:before { content:"\E194"; }
i.ico-pencil-squared:before { content:"\E195"; }
i.ico-pencil:before { content:"\E196"; }
i.ico-percent:before { content:"\E197"; }
i.ico-phone-squared:before { content:"\E198"; }
i.ico-phone:before { content:"\E199"; }
i.ico-picture:before { content:"\E19A"; }
i.ico-pied-piper-alt:before { content:"\E19B"; }
i.ico-pied-piper-squared:before { content:"\E19C"; }
i.ico-pied-piper:before { content:"\E19D"; }
i.ico-pin:before { content:"\E19E"; }
i.ico-pinterest-circled:before { content:"\E19F"; }
i.ico-pinterest-squared:before { content:"\E1A0"; }
i.ico-pinterest:before { content:"\E1A1"; }
i.ico-play-circled:before { content:"\E1A2"; }
i.ico-play-circled2:before { content:"\E1A3"; }
i.ico-play:before { content:"\E1A4"; }
i.ico-plug:before { content:"\E1A5"; }
i.ico-plus-circled:before { content:"\E1A6"; }
i.ico-plus-squared-alt:before { content:"\E1A7"; }
i.ico-plus-squared:before { content:"\E1A8"; }
i.ico-plus:before { content:"\E1A9"; }
i.ico-pound:before { content:"\E1AA"; }
i.ico-print:before { content:"\E1AB"; }
i.ico-product-hunt:before { content:"\E1AC"; }
i.ico-puzzle:before { content:"\E1AD"; }
i.ico-qq:before { content:"\E1AE"; }
i.ico-qrcode:before { content:"\E1AF"; }
i.ico-question-circle-o:before { content:"\E1B0"; }
i.ico-quote-left:before { content:"\E1B1"; }
i.ico-quote-right:before { content:"\E1B2"; }
i.ico-rebel:before { content:"\E1B3"; }
i.ico-recycle:before { content:"\E1B4"; }
i.ico-reddit-alien:before { content:"\E1B5"; }
i.ico-reddit-squared:before { content:"\E1B6"; }
i.ico-reddit:before { content:"\E1B7"; }
i.ico-registered:before { content:"\E1B8"; }
i.ico-renren:before { content:"\E1B9"; }
i.ico-reply-all:before { content:"\E1BA"; }
i.ico-reply:before { content:"\E1BB"; }
i.ico-resize-full-alt:before { content:"\E1BC"; }
i.ico-resize-full:before { content:"\E1BD"; }
i.ico-resize-horizontal:before { content:"\E1BE"; }
i.ico-resize-small:before { content:"\E1BF"; }
i.ico-resize-vertical:before { content:"\E1C0"; }
i.ico-retweet:before { content:"\E1C1"; }
i.ico-right-big:before { content:"\E1C2"; }
i.ico-right-circled:before { content:"\E1C3"; }
i.ico-right-circled2:before { content:"\E1C4"; }
i.ico-right-dir:before { content:"\E1C5"; }
i.ico-right-hand:before { content:"\E1C6"; }
i.ico-right-open:before { content:"\E1C7"; }
i.ico-right:before { content:"\E1C8"; }
i.ico-road:before { content:"\E1C9"; }
i.ico-rocket:before { content:"\E1CA"; }
i.ico-rouble:before { content:"\E1CB"; }
i.ico-rss-squared:before { content:"\E1CC"; }
i.ico-rss:before { content:"\E1CD"; }
i.ico-rupee:before { content:"\E1CE"; }
i.ico-safari:before { content:"\E1CF"; }
i.ico-scissors:before { content:"\E1D0"; }
i.ico-scribd:before { content:"\E1D1"; }
i.ico-search:before { content:"\E1D2"; }
i.ico-sellsy:before { content:"\E1D3"; }
i.ico-server:before { content:"\E1D4"; }
i.ico-share-squared:before { content:"\E1D5"; }
i.ico-share:before { content:"\E1D6"; }
i.ico-shekel:before { content:"\E1D7"; }
i.ico-shield:before { content:"\E1D8"; }
i.ico-ship:before { content:"\E1D9"; }
i.ico-shirtsinbulk:before { content:"\E1DA"; }
i.ico-shopping-bag:before { content:"\E1DB"; }
i.ico-shopping-basket:before { content:"\E1DC"; }
i.ico-shuffle:before { content:"\E1DD"; }
i.ico-sign-language:before { content:"\E1DE"; }
i.ico-signal:before { content:"\E1DF"; }
i.ico-simplybuilt:before { content:"\E1E0"; }
i.ico-sitemap:before { content:"\E1E1"; }
i.ico-skyatlas:before { content:"\E1E2"; }
i.ico-skype:before { content:"\E1E3"; }
i.ico-slack:before { content:"\E1E4"; }
i.ico-sliders:before { content:"\E1E5"; }
i.ico-slideshare:before { content:"\E1E6"; }
i.ico-smile:before { content:"\E1E7"; }
i.ico-snapchat-ghost:before { content:"\E1E8"; }
i.ico-snapchat-square:before { content:"\E1E9"; }
i.ico-snapchat:before { content:"\E1EA"; }
i.ico-soccer-ball:before { content:"\E1EB"; }
i.ico-sort-alt-down:before { content:"\E1EC"; }
i.ico-sort-alt-up:before { content:"\E1ED"; }
i.ico-sort-down:before { content:"\E1EE"; }
i.ico-sort-name-down:before { content:"\E1EF"; }
i.ico-sort-name-up:before { content:"\E1F0"; }
i.ico-sort-number-down:before { content:"\E1F1"; }
i.ico-sort-number-up:before { content:"\E1F2"; }
i.ico-sort-up:before { content:"\E1F3"; }
i.ico-sort:before { content:"\E1F4"; }
i.ico-soundcloud:before { content:"\E1F5"; }
i.ico-space-shuttle:before { content:"\E1F6"; }
i.ico-spinner:before { content:"\E1F7"; }
i.ico-spoon:before { content:"\E1F8"; }
i.ico-spotify:before { content:"\E1F9"; }
i.ico-stackexchange:before { content:"\E1FA"; }
i.ico-stackoverflow:before { content:"\E1FB"; }
i.ico-star-empty:before { content:"\E1FC"; }
i.ico-star-half-alt:before { content:"\E1FD"; }
i.ico-star-half:before { content:"\E1FE"; }
i.ico-star:before { content:"\E1FF"; }
i.ico-steam-squared:before { content:"\E200"; }
i.ico-steam:before { content:"\E201"; }
i.ico-stethoscope:before { content:"\E202"; }
i.ico-sticky-note-o:before { content:"\E203"; }
i.ico-sticky-note:before { content:"\E204"; }
i.ico-stop-circle-o:before { content:"\E205"; }
i.ico-stop-circle:before { content:"\E206"; }
i.ico-stop:before { content:"\E207"; }
i.ico-street-view:before { content:"\E208"; }
i.ico-strike:before { content:"\E209"; }
i.ico-stumbleupon-circled:before { content:"\E20A"; }
i.ico-stumbleupon:before { content:"\E20B"; }
i.ico-subscript:before { content:"\E20C"; }
i.ico-subway:before { content:"\E20D"; }
i.ico-suitcase:before { content:"\E20E"; }
i.ico-sun:before { content:"\E20F"; }
i.ico-superscript:before { content:"\E210"; }
i.ico-table:before { content:"\E211"; }
i.ico-tablet:before { content:"\E212"; }
i.ico-tag:before { content:"\E213"; }
i.ico-tags:before { content:"\E214"; }
i.ico-target:before { content:"\E215"; }
i.ico-tasks:before { content:"\E216"; }
i.ico-taxi:before { content:"\E217"; }
i.ico-television:before { content:"\E218"; }
i.ico-tencent-weibo:before { content:"\E219"; }
i.ico-terminal:before { content:"\E21A"; }
i.ico-text-height:before { content:"\E21B"; }
i.ico-text-width:before { content:"\E21C"; }
i.ico-th-large:before { content:"\E21D"; }
i.ico-th-list:before { content:"\E21E"; }
i.ico-th:before { content:"\E21F"; }
i.ico-themeisle:before { content:"\E220"; }
i.ico-thumbs-down-alt:before { content:"\E221"; }
i.ico-thumbs-down:before { content:"\E222"; }
i.ico-thumbs-up-alt:before { content:"\E223"; }
i.ico-thumbs-up:before { content:"\E224"; }
i.ico-ticket:before { content:"\E225"; }
i.ico-tint:before { content:"\E226"; }
i.ico-to-end-alt:before { content:"\E227"; }
i.ico-to-end:before { content:"\E228"; }
i.ico-to-start-alt:before { content:"\E229"; }
i.ico-to-start:before { content:"\E22A"; }
i.ico-toggle-off:before { content:"\E22B"; }
i.ico-toggle-on:before { content:"\E22C"; }
i.ico-trademark:before { content:"\E22D"; }
i.ico-train:before { content:"\E22E"; }
i.ico-transgender-alt:before { content:"\E22F"; }
i.ico-transgender:before { content:"\E230"; }
i.ico-trash-empty:before { content:"\E231"; }
i.ico-trash:before { content:"\E232"; }
i.ico-tree:before { content:"\E233"; }
i.ico-trello:before { content:"\E234"; }
i.ico-tripadvisor:before { content:"\E235"; }
i.ico-truck:before { content:"\E236"; }
i.ico-try:before { content:"\E237"; }
i.ico-tty:before { content:"\E238"; }
i.ico-tumblr-squared:before { content:"\E239"; }
i.ico-tumblr:before { content:"\E23A"; }
i.ico-twitch:before { content:"\E23B"; }
i.ico-twitter-squared:before { content:"\E23C"; }
i.ico-twitter:before { content:"\E23D"; }
i.ico-umbrella:before { content:"\E23E"; }
i.ico-underline:before { content:"\E23F"; }
i.ico-universal-access:before { content:"\E240"; }
i.ico-unlink:before { content:"\E241"; }
i.ico-up-big:before { content:"\E242"; }
i.ico-up-circled:before { content:"\E243"; }
i.ico-up-circled2:before { content:"\E244"; }
i.ico-up-dir:before { content:"\E245"; }
i.ico-up-hand:before { content:"\E246"; }
i.ico-up-open:before { content:"\E247"; }
i.ico-up:before { content:"\E248"; }
i.ico-upload-cloud:before { content:"\E249"; }
i.ico-upload:before { content:"\E24A"; }
i.ico-usb:before { content:"\E24B"; }
i.ico-user-md:before { content:"\E24C"; }
i.ico-user-plus:before { content:"\E24D"; }
i.ico-user-secret:before { content:"\E24E"; }
i.ico-user-times:before { content:"\E24F"; }
i.ico-user:before { content:"\E250"; }
i.ico-users:before { content:"\E251"; }
i.ico-venus-double:before { content:"\E252"; }
i.ico-venus-mars:before { content:"\E253"; }
i.ico-venus:before { content:"\E254"; }
i.ico-viacoin:before { content:"\E255"; }
i.ico-viadeo-square:before { content:"\E256"; }
i.ico-viadeo:before { content:"\E257"; }
i.ico-video:before { content:"\E258"; }
i.ico-videocam:before { content:"\E259"; }
i.ico-vimeo-squared:before { content:"\E25A"; }
i.ico-vimeo:before { content:"\E25B"; }
i.ico-vine:before { content:"\E25C"; }
i.ico-vkontakte:before { content:"\E25D"; }
i.ico-volume-control-phone:before { content:"\E25E"; }
i.ico-volume-down:before { content:"\E25F"; }
i.ico-volume-off:before { content:"\E260"; }
i.ico-volume-up:before { content:"\E261"; }
i.ico-wechat:before { content:"\E262"; }
i.ico-weibo:before { content:"\E263"; }
i.ico-whatsapp:before { content:"\E264"; }
i.ico-wheelchair-alt:before { content:"\E265"; }
i.ico-wheelchair:before { content:"\E266"; }
i.ico-wifi:before { content:"\E267"; }
i.ico-wikipedia-w:before { content:"\E268"; }
i.ico-windows:before { content:"\E269"; }
i.ico-won:before { content:"\E26A"; }
i.ico-wordpress:before { content:"\E26B"; }
i.ico-wpbeginner:before { content:"\E26C"; }
i.ico-wpforms:before { content:"\E26D"; }
i.ico-wrench:before { content:"\E26E"; }
i.ico-xing-squared:before { content:"\E26F"; }
i.ico-xing:before { content:"\E270"; }
i.ico-y-combinator:before { content:"\E271"; }
i.ico-yahoo:before { content:"\E272"; }
i.ico-yelp:before { content:"\E273"; }
i.ico-yen:before { content:"\E274"; }
i.ico-yoast:before { content:"\E275"; }
i.ico-youtube-play:before { content:"\E276"; }
i.ico-youtube-squared:before { content:"\E277"; }
i.ico-youtube:before { content:"\E278"; }
i.ico-zoom-in:before { content:"\E279"; }
i.ico-zoom-out:before { content:"\E27A"; }