// Copyright 2017 Pantomath SAS
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// MIDDLE
// ------------------------------
.middle { 
	padding-top:@h-header+@h-entete;
	@media (max-width: @screen-xs-max) {
		padding-top:@h-header;
	}
	&-i { 
		.pad(20);
		.with-sidebar & { 
			.mar-l(260);
			@media (max-width: @screen-xs-max) {
				.mar-l(0);
			}
		}
	}
}

/* content */
.content { width:100%; max-width:1200px; margin:0 auto; }

/* title */
.title {
	color:@col-layout; .fs(24); font-weight:normal;
	&-o { .mar-b(20); }
	&-filtre { 
		.dropdown-menu { right:0; left:auto; }
	}
}

/* bl */
.bl { 
	background-color:#fff; .mar-b(20);
	
	&-header { padding:20px 100px 10px 20px; .rel(); }
	&-title { 
		.fs(16); color:@col-layout-d; font-weight:600;
		.ico-attention { .fs(20); .rel(); top:0; .lh(16); vertical-align:middle; }
	}
	&-action {
		.abs(); right:20px; top:20px;
		&-item { 
			color:@col-layout; .pad-r(5); .fs(16); .trans();
			&:hover { opacity:0.5; }
		}
		input.form-control { .rel(); top:-5px; max-width:150px; }
	}
	
	&-i { padding:10px 20px; }
	
	&-footer { padding:10px 20px 20px 20px; .al-c(); .fs(13); }
	
	&-tools { 
		padding:0 20px; padding:5px 20px 8px 20px; background-color:#fff; .cf(); border-bottom:1px solid #ccc; border-top:1px solid #ccc;
		.checkbox, a { display:inline-block; }
		.checkbox { .mar-r(10); .fl-l(); }
		a { .fl-r(); .mar-l(5); .mar-t(5); }
	}
	
}

/* légende */
.legende {
	color:#999;
	&-item { 
		margin:0 10px;
		&:before { .circle(); .mar-r(5); vertical-align:middle; }
	}
	&-1:before { color:@col-bleu; }
	&-2:before { color:@col-mauve; }
}

/* probe */
.probe {
	
	&-item {
		border:1px solid #ccc; border-radius:4px; .mar-b(10); padding:9px 50px 9px 20px; .rel(); height:50px; 
		&.ok { 
			border-color:@col-success;
			&:before { .ok(); color:@col-success; .abs(); left:3px; top:6px; .lh(20); }
			.probe-title, .probe-subtitle { opacity:1; }
		}
		.btn { .abs(); right:10px; top:10px; }
	}
	
	&-title { display:block; .lh(15); .fs(13); font-weight:700; opacity:0.5; .trans(); }
	
	&-subtitle { display:block; .fs(12); .lh(15); color:#444; opacity:0.5; .trans(); }

}

/* tetiere */
.tet {
	.cf(); .mar-b(20);
	.btn.fl-r { .mar-l(10); }
}

/* state */
.state {
	&-item { 
		.mar-b(10); background-color:#f8f8f8; border-left:5px solid @col-base; padding:10px 15px 0 15px;
		&-critical { border-color:@col-error; }
		&-warning { border-color:@col-warning; }
	}
}

/* alert */
.alert {
	&-item { .mar-b(10); background-color:#f8f8f8; border-left:5px solid @col-base; padding:10px 15px 0 15px; }
	&-subtitle { .mar-b(5); .upper(); .fs(14); color:@col-layout; font-weight:normal; }
	&-off { 
		padding:@padding-base-vertical @padding-base-horizontal; .fs(12); line-height:@line-height-base; color:@input-color; border:1px solid @input-border; .box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); border-radius:@input-border-radius;
		&-warning { border-color:@col-warning; border-left-width:5px; }
		&-critical { border-color:@col-error; border-left-width:5px; }
		+ .alert-off { .mar-t(10); }
		&.deletable { 
			.pad-r(40); .rel();
			a { .abs(); right:9px; top:5px; color:#888; .fs(16); .lh(18); }
		}
		
	}
}

/* push */
.push { 
	.al-c(); border-radius:4px; .mar-b(10); border:1px solid #ddd; overflow:hidden; color:#999;
	&-i { .pad(20); }
	&-footer { background-color:#999; .upper(); .fs(11); font-weight:600; padding:10px 0; color:#fff; }
	&-title { .upper(); font-weight:600; .fs(11); .mar-b(15); }
	&-num { .fs(40); font-weight:700; .lh(40); color:@col-layout; }
}

/* blcheck */
.blcheck {
	
	border-left:5px solid @col-base; background-color:#f8f8f8;
	&-critical { border-color:@col-error; }
	&-warning { border-color:@col-warning; }
	
	&-o { 
		.mar-b(10); /*.pad-l(25);*/ .rel();
		/*.checkbox { .abs(); left:0; top:2px; }*/
	}
	
	&-1 { 
		padding:8px 60px 40px 10px; .rel(); font-weight:600; .fs(13); .cf();
		&-actions { .al-r(); .abs(); bottom:5px; right:10px; }
	}
	
	&-2 { 
		padding:0 10px 0 10px; display:none;
		.open & { display:block; }
	}
	
	&-tools { 
		padding:0 10px 8px 10px; .al-r(); display:none;
		.open & { display:block; }
	}
	
	.blcheck-inter { 
		.trans(); .abs(); bottom:0; /*left:15px;*/ left:-10px;
		.open & { transform: rotate(180deg); }
	}
	
}

.since { 
	.abs(); top:6px; right:10px; display:block; .fs(11); .al-c(); background-color:@col-base; .pad(5); .lh(11); color:#fff; -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px; vertical-align:middle; border-radius:4px;
	i { .fs(16); vertical-align:middle; color:tomato; }
}



.loader {
    border:10px solid #f3f3f3; border-top:8px solid @col-layout; border-bottom:8px solid @col-layout; border-radius:50%; width:70px; height:70px; animation:spin 1.6s linear infinite; margin:0 auto;
}

@keyframes spin { 
	0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}

.datepicker {
	&-o { width:800px; .cf(); }
	&-i { 
		border-top:1px solid #ccc; padding:10px;
		&:first-child { border-top:none; }
		ul { .pad(0); .mar(0); }
		li { 
			.pad(0); .mar(0); .pad-b(2); list-style:none;
			a { 
				.fs(12); .lh(13); color:@col-layout; .trans();
				&:hover { opacity:0.5; }
			}
		}
	}
	&-title { font-weight:bold; .mar-b(10); }
}


/* checkbox switch */
@col-form-switch-off : #aaaaaa;
@col-form-switch-on : @col-layout;
.form-switch {
	.abs(); margin-left:-9999px; visibility:hidden; 
	+ label {
		display:block; cursor:pointer; width:100%; .pad-r(50);
		&:before { .abs(); top:50%; right:0; margin-top:-12px; content:''; display:block; width:44px; height:24px; border-radius:12px; background-color:@col-form-switch-off; .trans(); }
		&:after { .cercle(); background-color:#fff; width:22px; height:22px; border:1px solid transparent; display:block; content:''; .abs(); right:1px; top:50%; margin-top:-11px; .trans(); }
	}
	&:checked {
		+ label {
			&:before { background-color:@col-form-switch-on; }
			&:after { right:21px; }
		}
	}
}



.critical { color:@col-error; }
.warning { color:@col-warning; }
.missing_data { color:@col-missing_data; }
.error { color:@col-error; }

.wxs { width:40px; display:inline-block; }

.modal-part + .bl-i { .pad-t(0); }

.input-group a { color:@col-base; }

.serif { font-family:@font-family-serif; background-color:#fff; }
.alert-off.serif { .fs(12); }

/* tag */
.tag { 
	.cercle(); display:inline-block; width:10px; height:10px; .trans(); .al-c(); overflow:hidden; .fs(12); color:@col-base; .rel(); .mar-l(0);
	&-add { background-color:transparent; .lh(12); }
	&-1 { background-color:@tag1; }
	&-2 { background-color:@tag2; }
	&-3 { background-color:@tag3; }
	&-4 { background-color:@tag4; }
	&-5 { background-color:@tag5; }
	&-6 { background-color:@tag6; }
	&s { .rel(); }
}

/* orga */
.orga { 
	&-item { border-top:1px solid #ccc; padding:10px 0; }
	&-title { .mar-b(5); }
}


// RTE
// ------------------------------
.rte {
	
	h2 { .fs(16); color:@col-layout-d; font-weight:600; .mar-b(15); }
	
	h3 { .fs(20); font-weight:bold; .mar-b(10); color:@col-layout; }
	
	h4 { .fs(16); font-weight:bold; .mar-b(5); color:@col-layout; }
	
	p { .mar-b(10); }
	
	ul { .pad(0); .mar(0); .mar-b(20); list-style:none; }
	
	li { 
		.pad(0); .mar(0); .mar-b(5); .rel(); .pad-l(5);
		&:before { .angle-right(); color:@col-layout; .mar-r(10); }
	}
	
	p a, li a { 
		color:@col-layout; font-weight:bold; .under(); .trans();

	}
	
}