// Copyright 2017 Pantomath SAS
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// TOOLS
// ------------------------------

// Clearfix
.cf() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
.clearfix, .cf { .cf(); }

// Font
.fs(@fontsize) { font-size:@fontsize+0px; font-size:@fontsize/10+0rem; }
.lh(@lineheight) { line-height: @lineheight+0px; }

.normal() { font-weight:@weight-normal; }
.bold() { font-weight:@weight-bold; }
.light() { font-weight:@weight-light; }
.italic() { font-style:italic; }
.under() { text-decoration:underline; }
.nounder() { text-decoration:none; }
.upper() { text-transform:uppercase; }

// float
.fl-l() { float:left; }
.fl-l { .fl-l(); }
.fl-r() { float:right; }
.fl-r { .fl-r(); }
.no-fl() { float:none; }
.no-fl { .no-fl(); }

// align
.al-c() { text-align:center; }
.al-c { .al-c(); }
.al-l() { text-align:left; }
.al-l { .al-l(); }
.al-r() { text-align:right; }
.al-r { .al-r(); }

// padding
.pad(@padding) { padding:@padding+0px; }
.pad-t(@paddingtop) { padding-top:@paddingtop+0px; }
.pad-b(@paddingbottom) { padding-bottom:@paddingbottom+0px; }
.pad-l(@paddingleft) { padding-left:@paddingleft+0px; }
.pad-r(@paddingright) { padding-right:@paddingright+0px; }
.no-pad { padding:0 !important; }
.no-pad-t { .pad-t(0) !important; }
.no-pad-b { .pad-b(0) !important; }

// margin
.mar(@margin) { margin:@margin+0px; }
.mar-t(@margintop) { margin-top:@margintop+0px; }
.mar-b(@marginbottom) { margin-bottom:@marginbottom+0px; }
.mar-l(@marginleft) { margin-left:@marginleft+0px; }
.mar-r(@marginright) { margin-right:@marginright+0px; }
.no-mar { margin:0 !important; }
.mar-auto { margin-right:auto; margin-left:auto; }
.no-mar-t { .mar-t(0) !important; }
.no-mar-b { .mar-b(0) !important; }

// position
.rel() { position:relative; }
.abs() { position:absolute; }
.fix() { position:fixed; }

// cover
.cover() { background-size:cover; background-repeat:no-repeat; background-position:50% 50%; }

// radius
.cercle() { border-radius:50%; }

// transition
.trans() { transition:all 0.25s ease-in-out 0s; }