<!-- 
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div class="panto-pre-container">
    <pre class="panto-pre"><slot></slot><button class="copy-button btn" @click.prevent="copyContent" title="Copy snippet"><fa :icon="faCopy" size="xs"/></button></pre>
  </div>
</template>
<script>

import { faCopy } from '@fortawesome/fontawesome-free-solid'
import Fa from 'vue-fa'

export default {
  name: 'panto-pre',
  components: { Fa },
  data: function () {
    return { faCopy }
  },
  methods: {
    copyContent () {
      this.$copyText(this.$slots.default[0].text)
      this.$message({
        message: 'Copied!',
        iconClass: 'el-icon-document',
        customClass: 'message-box'
      })
    }
  }
}
</script>
<style>
.panto-pre-container {
  position: relative;
}
.panto-pre {
  background-color: #000000;
  color: #f0f0f0;
  border-radius: 4px;
  padding: 8px 6px;
  margin: 0;
}
.panto-pre .copy-button {
  position: absolute;
  border-radius: 0 4px 0 4px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #f0f0f0cc;
  background-color: #cacacacc;
  right: 0;
  top: 0;
  padding: 1px 8px;
}
.message-box {
  min-width: 0;
  border-color: #f5f4eb;
  background-color: #fcfaed;
}
.message-box p {
  margin: 0 10px;
}
</style>