<!-- 
Copyright 2018 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
 <template>
 <!-- HISTORY: Implementation for a typed component can be found at a06b2e71 -->
  <div>
    <el-input 
      :value="value"
      @input="onInput($event)"
      tabindex="0"
      :placeholder="param.mandatory ? `e.g. ${param.placeholder}` : `${param.default}`">
    </el-input>
    <p class="text-danger m-t-5" v-if="message">
      <fa :icon="faExclamationTriangle" /> {{ message }}
    </p>
  </div>
</template>
<script>

import Fa from 'vue-fa'
import { faExclamationTriangle } from '@fortawesome/fontawesome-free-solid'
import 'moment-duration-format'

export default {
  name: 'configuration-form-input',
  components: {
    Fa
  },
  data () {
    return {
      faExclamationTriangle
    }
  },
  props: ['param', 'value', 'message'],
  methods: {
    onInput ($event) {
      this.$emit('input', $event)
    }
  }
}
</script>

