// Copyright 2017 Pantomath SAS
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Bootstrap v3.3.6
// ------------------------------
@import "helpers.less";
@import "variables.less";

@import "bootstrap/mixins.less";
@import "bootstrap/reset.less";								// normalize, scaffolding, type
@import "bootstrap/utilities.less";							// utilities, responsive-utilities
@import "bootstrap/grid.less";								// grid
@import "bootstrap/type.less";								// grid

//@import "bootstrap/code.less";
@import "bootstrap/tables.less";							// tableaux
@import "bootstrap/forms.less";								// formulaires
@import "bootstrap/buttons.less";							// boutons
//@import "bootstrap/print.less";							// print

// Components
//@import "bootstrap/component-animations.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/labels.less";
@import "bootstrap/close.less";
//@import "bootstrap/navs.less";
//@import "bootstrap/navbar.less";
//@import "bootstrap/breadcrumbs.less";
//@import "bootstrap/pagination.less";
//@import "bootstrap/pager.less";
@import "bootstrap/badges.less";
//@import "bootstrap/jumbotron.less";
//@import "bootstrap/thumbnails.less";
//@import "bootstrap/alerts.less";
//@import "bootstrap/progress-bars.less";
//@import "bootstrap/media.less";
//@import "bootstrap/list-group.less";
//@import "bootstrap/panels.less";
//@import "bootstrap/responsive-embed.less";
//@import "bootstrap/wells.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
//@import "bootstrap/popovers.less";
//@import "bootstrap/carousel.less";

// Plugins
// ------------------------------
@import "plugin/datepicker3.less";
//@import "plugin/bootstrap-select.less";
//@import "plugin/fancybox.less";
//@import "plugin/owl.carousel.less";
@import "plugin/optiscroll.less";

// Projet
// ------------------------------
@import "projet/tools.less";								// mixins persos

// @import "projet/font.less";
@import "projet/icons.less";

@import "projet/structure.less";							// structure
@import "projet/header.less";								// header
@import "projet/sidebar.less";								// sidebar
@import "projet/environment.less";							// environment
@import "projet/dashboard.less";							// dashboard

/* lg */
@media (min-width: @screen-lg-min) {
	/* test */
}

/* md */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	/* test */
}

/* md- */
@media (max-width: @screen-md-max) {
	/* test */
}

/* md+ */
@media (min-width: @screen-md-min) {
	/* test */
}

/* sm */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	/* test */
}

/* sm- */
@media (max-width: @screen-sm-max) {
	/* test */
}

/* sm+ */
@media (min-width: @screen-sm-min) {
	/* test */
}

/* xs */
@media (max-width: @screen-xs-max) {
	/* test */
}

.text-hint .el-button {
	border: 2px dashed #dcdfe6;
	width: 100%;
	color: #93959a;
}

.text-hint .el-button:hover,.el-button:focus {
	color: #409eff;
	border-color: #c6e2ff;
}