/*
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/* general */
* {
  font-family: 'Nunito', sans-serif;
}

.section-title {
	background-color: #34495E;
	color: #FFFFFF;
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 7rem;
}

.btn-panto {
	background-color: #34495E;
	color: #FFFFFF;
}
.btn-panto:hover, .btn-panto:focus, .btn-panto:active, .btn-panto.active, .open>.dropdown-toggle.btn-panto {
	color: #FFFFFF;
	text-decoration: underline;
}


/* navbar */
header .navbar {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.3);
	box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.3);

	background-color: #34495E;
}

/* pushhp */
.pushhp {
	background-color: rgba(234,236,238,1);
	padding-bottom: 40px;
}

.pushhp > .container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pushhp .tagline {
	color: #34495E;
	padding-bottom: 10px;
}

/* features */
.features .tagline {
	padding-top: 30px;
	padding-bottom: 30px;
}

.features .features-item {
	margin: 50px 10px 50px 10px;
}

.features hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* about-us */
.about .about-text {
	margin: 50px 10px 50px 10px;
}

/* documentation */
.documentation a, .documentation a:hover, .documentation a:focus, .documentation a:active, .documentation a.active {
	color: #34495E;
	text-transform: none;
}

.documentation .help-toc {
	background-color: rgba(234,236,238,1);
	padding-top: 30px;
}

.documentation .help-content {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 75px;
	display: block;
}
.documentation .help-content a, .documentation .help-content a:hover, .documentation .help-content a:focus, .documentation .help-content a:active, .documentation .help-content a.active {
	text-decoration: underline;
}

.documentation .help-content pre {
	background-color: rgba(234,236,238,1);
}

.help-content table {
    border-collapse: collapse;
    width: 100%;
}

.help-content table, th, td {
    border: 1px solid rgba(234,236,238,1);
    padding: 5px;
}

.help-content tr:hover {
	background-color: #f5f5f5;
}

.help-content th {
    background-color: #34495E;
    color: #FFFFFF;
    text-align: center;
}


/* footer */
.footer {
	background-color: #34495E;
	color: #FFFFFF;
}

.footer > .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer .icons {
	padding-top: 20px;
}
.footer .icons a, .footer .icons a:hover, .footer .icons a:focus, .footer .icons a:active, .footer .icons a.active {
	color: #FFFFFF;
}